/* screen - client-entrepreneur-profile-proyects */

.client-entrepreneur-profile-proyects {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.client-entrepreneur-profile-proyects .rectangle-8-GmZ4oh {
  background-color: transparent;
  height: 72px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 390px;
}

.client-entrepreneur-profile-proyects .emprendedor-vista-cliente-arreglado-GmZ4oh {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 390px;
}

.client-entrepreneur-profile-proyects .vector-7-ousg2s {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.client-entrepreneur-profile-proyects .rectangle-1336-ousg2s {
  background-color: var(--white);
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-profile-proyects .group-1973-ousg2s {
  background-color: transparent;
  height: 36px;
  left: 59px;
  position: absolute;
  top: 6px;
  width: 35px;
}

.client-entrepreneur-profile-proyects .iconly-bold-category-MDh7wT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 23px;
}

.client-entrepreneur-profile-proyects .category-DsZu3f {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.client-entrepreneur-profile-proyects .category-gVKVxm {
  background-color: transparent;
  height: 20px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 19px;
}

.client-entrepreneur-profile-proyects .subido-MDh7wT {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.client-entrepreneur-profile-proyects .group-1974-ousg2s {
  background-color: transparent;
  height: 34px;
  left: 124px;
  position: absolute;
  top: 7px;
  width: 54px;
}

.client-entrepreneur-profile-proyects .vector-9GZlkX {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 16px;
  position: absolute;
  top: -0px;
  width: 21px;
}

.client-entrepreneur-profile-proyects .feedbacks-9GZlkX {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: auto;
}

.client-entrepreneur-profile-proyects .group-1975-ousg2s {
  background-color: transparent;
  height: 36px;
  left: 208px;
  position: absolute;
  top: 6px;
  width: 50px;
}

.client-entrepreneur-profile-proyects .icon-1lKHMZ {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 18px;
}

.client-entrepreneur-profile-proyects .proyectos-1lKHMZ {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.client-entrepreneur-profile-proyects .group-1976-ousg2s {
  background-color: transparent;
  height: 34px;
  left: 288px;
  position: absolute;
  top: 7px;
  width: 45px;
}

.client-entrepreneur-profile-proyects .icon-Ex0gjL {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 24px;
}

.client-entrepreneur-profile-proyects .catlogo-Ex0gjL {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: auto;
}

.client-entrepreneur-profile-proyects .status-bar-i-phone-13-13-pro-GmZ4oh {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-profile-proyects .indicators-dAxgtx {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.client-entrepreneur-profile-proyects .elements-signal-Wlhcx7 {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.client-entrepreneur-profile-proyects .cellular-connection-YY1a1Z {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.client-entrepreneur-profile-proyects .elements-connection-Wlhcx7 {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.client-entrepreneur-profile-proyects .wifi-VK8LMJ {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.client-entrepreneur-profile-proyects .elements-battery-Wlhcx7 {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.client-entrepreneur-profile-proyects .border-cjB91e {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.client-entrepreneur-profile-proyects .cap-cjB91e {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.client-entrepreneur-profile-proyects .capacity-cjB91e {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.client-entrepreneur-profile-proyects .mic-cam-dAxgtx {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.client-entrepreneur-profile-proyects .elements-time-dAxgtx {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.client-entrepreneur-profile-proyects .time-DHiEdO {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.client-entrepreneur-profile-proyects .frame-94-GmZ4oh {
  background-color: transparent;
  height: 259px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 393px;
  width: 390px;
}

.client-entrepreneur-profile-proyects .proyectos-actuales-ncYu08 {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.client-entrepreneur-profile-proyects .group-2174-ncYu08 {
  background-color: transparent;
  height: 196px;
  left: 22px;
  position: absolute;
  top: 44px;
  width: 351px;
}

.client-entrepreneur-profile-proyects .image-28-IRZQVs {
  background-color: transparent;
  height: 196px;
  left: 1px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 344px;
}

.client-entrepreneur-profile-proyects .rectangle-1382-IRZQVs {
  background-color: transparent;
  height: 196px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 344px;
}

.client-entrepreneur-profile-proyects .arriendo-este-mes-IRZQVs {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 112px;
  width: auto;
}

.client-entrepreneur-profile-proyects .x25-completado-IRZQVs {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 134px;
  width: auto;
}

.client-entrepreneur-profile-proyects .rectangle-1377-IRZQVs {
  background-color: var(--white);
  border-radius: 4px;
  height: 5px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 154px;
  width: 306px;
}

.client-entrepreneur-profile-proyects .rectangle-1378-IRZQVs {
  background-color: var(--rosa-claro);
  border-radius: 4px;
  height: 5px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 154px;
  width: 67px;
}

.client-entrepreneur-profile-proyects .caotico-IRZQVs {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 164px;
  white-space: nowrap;
  width: 287px;
}

.client-entrepreneur-profile-proyects .group-320-IRZQVs {
  background-color: transparent;
  height: 23px;
  left: 235px;
  position: absolute;
  top: 11px;
  width: 94px;
}

.client-entrepreneur-profile-proyects .rectangle-6-wEqvUx {
  background-color: var(--cielo);
  border-radius: 4.16px;
  height: 23px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 94px;
}

.client-entrepreneur-profile-proyects .enviar-wEqvUx {
  background-color: transparent;
  height: 23px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 81px;
}

.client-entrepreneur-profile-proyects .nav-client-GmZ4oh {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.client-entrepreneur-profile-proyects .frame-110-aBu0I8 {
  background-color: transparent;
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-profile-proyects .rectangle-1462-XY2xd6 {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-profile-proyects .union-aBu0I8 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.client-entrepreneur-profile-proyects .union-L3QOKb {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.client-entrepreneur-profile-proyects .union-YKMA1a {
  background-color: transparent;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 37px;
}

.client-entrepreneur-profile-proyects .union-sVNNSV {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 37px;
}

.client-entrepreneur-profile-proyects .union-54S6Fm {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.client-entrepreneur-profile-proyects .group-261-GmZ4oh {
  background-color: transparent;
  height: 38px;
  left: 27px;
  position: absolute;
  top: 277px;
  width: 164px;
}

.client-entrepreneur-profile-proyects .rectangle-6-7eOy0p {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 164px;
}

.client-entrepreneur-profile-proyects .enviar-7eOy0p {
  background-color: transparent;
  height: 38px;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 142px;
}

.client-entrepreneur-profile-proyects .group-273-GmZ4oh {
  background-color: transparent;
  height: 38px;
  left: 206px;
  position: absolute;
  top: 277px;
  width: 157px;
}

.client-entrepreneur-profile-proyects .rectangle-6-cWejlQ {
  background-color: var(--rosa-claro);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 157px;
}

.client-entrepreneur-profile-proyects .donar-GmZ4oh {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 276px;
  width: 125px;
}

.client-entrepreneur-profile-proyects .rectangle-16-GmZ4oh {
  background-color: transparent;
  height: 67px;
  left: 28px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 67px;
}

.client-entrepreneur-profile-proyects .rectangle-18-GmZ4oh {
  background-color: var(--amarillo);
  border-radius: 40px;
  height: 22px;
  left: 76px;
  mix-blend-mode: normal;
  position: absolute;
  top: 146px;
  width: 22px;
}

.client-entrepreneur-profile-proyects .blink-custom-jewels-GmZ4oh {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 104px;
  width: auto;
}

.client-entrepreneur-profile-proyects .blinkcustom-jewels-GmZ4oh {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 126px;
  width: auto;
}

.client-entrepreneur-profile-proyects .cali-colombia-somos-GmZ4oh {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  position: absolute;
  text-align: left;
  top: 206px;
  width: 336px;
}

.client-entrepreneur-profile-proyects .span0-bIcd2t {
}

.client-entrepreneur-profile-proyects .span1-bIcd2t {
}

.client-entrepreneur-profile-proyects .iconly-bold-location-GmZ4oh {
  background-color: transparent;
  height: 16px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 207px;
  width: 15px;
}

.client-entrepreneur-profile-proyects .location-DxIunh {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.client-entrepreneur-profile-proyects .location-l5LU9e {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.client-entrepreneur-profile-proyects .x233-seguidores-GmZ4oh {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 146px;
  width: auto;
}

.client-entrepreneur-profile-proyects .span0-S3c5Qd {
}

.client-entrepreneur-profile-proyects .span1-S3c5Qd {
}

.client-entrepreneur-profile-proyects .star-1-GmZ4oh {
  background-color: transparent;
  height: 11px;
  left: 81px;
  mix-blend-mode: normal;
  position: absolute;
  top: 152px;
  width: 11px;
}

.client-entrepreneur-profile-proyects .group-268-GmZ4oh {
  background-color: transparent;
  height: 11px;
  left: 112px;
  position: absolute;
  top: 91px;
  width: 95px;
}

.client-entrepreneur-profile-proyects .usuario-verificado-Q8Baxk {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.client-entrepreneur-profile-proyects .group-267-Q8Baxk {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.client-entrepreneur-profile-proyects .subtract-JJyx0T {
  background-color: transparent;
  height: 9px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 9px;
}

.client-entrepreneur-profile-proyects .group-269-GmZ4oh {
  background-color: transparent;
  height: 20px;
  left: 112px;
  position: absolute;
  top: 169px;
  width: 63px;
}

.client-entrepreneur-profile-proyects .rectangle-6-P6W3d5 {
  background-color: var(--amarillo);
  border-radius: 7px;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 63px;
}

.client-entrepreneur-profile-proyects .enviar-P6W3d5 {
  background-color: transparent;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 54px;
}
