/* screen - client-proyects-cohii */

.client-proyects-cohii {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.client-proyects-cohii .image-25-eSinpR {
  background-color: transparent;
  height: 129px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 390px;
}

.client-proyects-cohii .rectangle-1376-eSinpR {
  background-color: transparent;
  height: 129px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 390px;
}

.client-proyects-cohii .status-bar-i-phone-13-13-pro-eSinpR {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-proyects-cohii .indicators-T0Bqbx {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.client-proyects-cohii .elements-signal-GJRBsx {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.client-proyects-cohii .cellular-connection-Gy41xT {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.client-proyects-cohii .elements-connection-GJRBsx {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.client-proyects-cohii .wifi-2RlpOA {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.client-proyects-cohii .elements-battery-GJRBsx {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.client-proyects-cohii .border-89HTg9 {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.client-proyects-cohii .cap-89HTg9 {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.client-proyects-cohii .capacity-89HTg9 {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.client-proyects-cohii .mic-cam-T0Bqbx {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.client-proyects-cohii .elements-time-T0Bqbx {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.client-proyects-cohii .time-SxMEsd {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.client-proyects-cohii .proyectos-activos-eSinpR {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 63px;
  width: auto;
}

.client-proyects-cohii .vector-eSinpR {
  background-color: transparent;
  height: 16px;
  left: 25px;
  position: absolute;
  top: 64px;
  width: 9px;
}

.client-proyects-cohii .vector-up3xH6 {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 25px;
  position: absolute;
  top: 64px;
  width: 9px;
}

.client-proyects-cohii .as-va-el-proyecto-eSinpR {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 369px;
  width: 309px;
}

.client-proyects-cohii .x20-completado-eSinpR {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 400px;
  width: 118px;
}

.client-proyects-cohii .rectangle-1377-eSinpR {
  background-color: var(--cuadros-relleno);
  border-radius: 4px;
  height: 16px;
  left: 30px;
  mix-blend-mode: normal;
  position: absolute;
  top: 423px;
  width: 326px;
}

.client-proyects-cohii .rectangle-1378-eSinpR {
  background-color: var(--pink);
  border-radius: 4px;
  height: 16px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 423px;
  width: 66px;
}

.client-proyects-cohii .recaudado-hasta-ahora-eSinpR {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 455px;
  width: 309px;
}

.client-proyects-cohii .meta-eSinpR {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 512px;
  width: 309px;
}

.client-proyects-cohii .fecha-de-finalizacin-del-proyecto-eSinpR {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 569px;
  width: 309px;
}

.client-proyects-cohii .quieres-aportar-a-este-proyecto-eSinpR {
  background-color: transparent;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 645px;
  width: 309px;
}

.client-proyects-cohii .x127500-eSinpR {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 478px;
  width: 118px;
}

.client-proyects-cohii .x470000-eSinpR {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 535px;
  width: 118px;
}

.client-proyects-cohii .x22-05-2022-eSinpR {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 591px;
  width: 118px;
}

.client-proyects-cohii .donarcohii-eSinpR {
  background-color: var(--cielo);
  border-radius: 10px;
  cursor: pointer;
  height: 38px;
  left: 66px;
  mix-blend-mode: normal;
  position: absolute;
  top: 674px;
  width: 259px;
}

.client-proyects-cohii .rectangle-6-bNEurV {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.client-proyects-cohii .enviar-bNEurV {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 224px;
}

.client-proyects-cohii .cohii-eSinpR {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 162px;
  white-space: nowrap;
  width: 84px;
}

.client-proyects-cohii .cali-colombia-eSinpR {
  background-color: transparent;
  height: auto;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 186px;
  white-space: nowrap;
  width: 84px;
}

.client-proyects-cohii .iconly-bold-location-eSinpR {
  background-color: transparent;
  height: 16px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 187px;
  width: 16px;
}

.client-proyects-cohii .location-ox4huX {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.client-proyects-cohii .location-DtCVpB {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.client-proyects-cohii .este-mes-a-causa-de-eSinpR {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 271px;
  width: 326px;
}

.client-proyects-cohii .arriendo-este-mes-eSinpR {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 246px;
  width: 334px;
}

.client-proyects-cohii .nav-client-eSinpR {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.client-proyects-cohii .rectangle-1463-hT0xQx {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-proyects-cohii .union-hT0xQx {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.client-proyects-cohii .union-xxtwZx {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.client-proyects-cohii .union-dvnxsE {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 37px;
}

.client-proyects-cohii .union-626AjL {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}
