/* screen - client-profile-uploaded */

.client-profile-uploaded {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.client-profile-uploaded .cart-sWXyey {
  background-color: transparent;
  height: 24px;
  left: 347px;
  mix-blend-mode: normal;
  position: absolute;
  top: 55px;
  transform: rotate(-180deg);
  width: 24px;
}

.client-profile-uploaded .vector-39-erxHEP {
  background-color: transparent;
  height: 18px;
  left: -1px;
  position: absolute;
  top: 0px;
  transform: rotate(-180deg);
  width: 24px;
}

.client-profile-uploaded .ellipse-36-erxHEP {
  background-color: transparent;
  border-radius: 2.01px;
  height: 4px;
  left: 6px;
  position: absolute;
  top: 19px;
  width: 4px;
}

.client-profile-uploaded .ellipse-37-erxHEP {
  background-color: transparent;
  border-radius: 2.01px;
  height: 4px;
  left: 18px;
  position: absolute;
  top: 19px;
  width: 4px;
}

.client-profile-uploaded .chat-1-sWXyey {
  background-color: transparent;
  height: 27px;
  left: 310px;
  position: absolute;
  top: 53px;
  width: 27px;
}

.client-profile-uploaded .frame-88-sWXyey::-webkit-scrollbar {
  display: none;
  width: 0;
}

.client-profile-uploaded .frame-88-sWXyey {
  background-color: transparent;
  height: 408px;
  left: 0px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 361px;
  width: 390px;
}

.client-profile-uploaded .contenido-eWmntK {
  background-color: transparent;
  border-radius: 7.42px;
  height: 241px;
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .contenido-TvrBsP {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .group-244-TvrBsP {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .rectangle-54-d5vD0o {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .group-243-TvrBsP {
  background-color: transparent;
  height: 57px;
  left: 11px;
  position: absolute;
  top: 177px;
  width: 159px;
}

.client-profile-uploaded .view-KbfdyL {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 44px;
  width: 13px;
}

.client-profile-uploaded .intersect-PSj41g {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 13px;
}

.client-profile-uploaded .ellipse-31-PSj41g {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-profile-uploaded .x1029-KbfdyL {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.client-profile-uploaded .x913-KbfdyL {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.client-profile-uploaded .vengan-a-probar-anitasbowls-KbfdyL {
  background-color: transparent;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-profile-uploaded .heart-TvrBsP {
  background-color: transparent;
  height: 10px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 220px;
  width: 12px;
}

.client-profile-uploaded .group-272-eWmntK {
  background-color: transparent;
  border-radius: 7.4px;
  height: 241px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 250px;
  width: 178px;
}

.client-profile-uploaded .group-272-5K53bi {
  background-color: transparent;
  height: 158px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .group-244-5K53bi {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .rectangle-54-3sTxu1 {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .group-243-5K53bi {
  background-color: transparent;
  height: 73px;
  left: 11px;
  position: absolute;
  top: 161px;
  width: 159px;
}

.client-profile-uploaded .view-5mPKYq {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 60px;
  width: 13px;
}

.client-profile-uploaded .intersect-f2eTNZ {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.client-profile-uploaded .ellipse-31-f2eTNZ {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-profile-uploaded .x1029-5mPKYq {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.client-profile-uploaded .x913-5mPKYq {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.client-profile-uploaded .vengan-a-probar-anitasbowls-5mPKYq {
  background-color: transparent;
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-profile-uploaded .heart-5K53bi {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.client-profile-uploaded .group-271-eWmntK {
  background-color: transparent;
  border-radius: 7.44px;
  height: 241px;
  left: 200px;
  position: absolute;
  top: 250px;
  width: 178px;
}

.client-profile-uploaded .group-244-x1RoxW {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .rectangle-54-SqR0Ju {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .group-243-x1RoxW {
  background-color: transparent;
  height: 89px;
  left: 11px;
  position: absolute;
  top: 145px;
  width: 159px;
}

.client-profile-uploaded .view-70xrxj {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 76px;
  width: 13px;
}

.client-profile-uploaded .intersect-NuTpPW {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.client-profile-uploaded .ellipse-31-NuTpPW {
  background-color: transparent;
  border-radius: 2.19px/2.04px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-profile-uploaded .x1029-70xrxj {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 75px;
  width: auto;
}

.client-profile-uploaded .x913-70xrxj {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 75px;
  width: auto;
}

.client-profile-uploaded .vengan-a-probar-anitasbowls-70xrxj {
  background-color: transparent;
  height: 64px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-profile-uploaded .heart-x1RoxW {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.client-profile-uploaded .group-2001-eWmntK {
  background-color: transparent;
  height: 241px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 180px;
}

.client-profile-uploaded .group-270-K4aU9Q {
  background-color: transparent;
  border-radius: 10px;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .group-244-XM3Thx {
  background-color: transparent;
  height: 241px;
  left: 0px;
  opacity: 0.5;
  position: relative;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .rectangle-54-OJcVjB {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-profile-uploaded .camera-K4aU9Q {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 76px;
  width: 59px;
}

.client-profile-uploaded .rectangle-354-wExvkw {
  background-color: transparent;
  height: 49px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 54px;
}

.client-profile-uploaded .ellipse-57-wExvkw {
  background-color: transparent;
  border: 4.8px solid var(--white);
  border-radius: 12.21px;
  height: 24px;
  left: 17px;
  position: absolute;
  top: 20px;
  width: 24px;
}

.client-profile-uploaded .agregar-review-K4aU9Q {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 148px;
  width: 152px;
}

.client-profile-uploaded .nav-client-sWXyey {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.client-profile-uploaded .rectangle-1463-73VoMS {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-profile-uploaded .union-73VoMS {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.client-profile-uploaded .union-qqQnuH {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.client-profile-uploaded .union-xUorev {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 37px;
}

.client-profile-uploaded .union-etCF32 {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.client-profile-uploaded .editar-perfil-sWXyey {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 247px;
  width: 298px;
}

.client-profile-uploaded .group-341-rYYMfW {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 298px;
}

.client-profile-uploaded .rectangle-6-cEm9le {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 298px;
}

.client-profile-uploaded .enviar-cEm9le {
  background-color: transparent;
  height: 38px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 258px;
}

.client-profile-uploaded .rectangle-16-sWXyey {
  background-color: transparent;
  height: 67px;
  left: 25px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 55px;
  width: 67px;
}

.client-profile-uploaded .cali-colombia-sWXyey {
  background-color: transparent;
  height: auto;
  left: 109px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 104px;
  width: 364px;
}

.client-profile-uploaded .iconly-bold-location-sWXyey {
  background-color: transparent;
  height: 16px;
  left: 108px;
  position: absolute;
  top: 105px;
  width: 16px;
}

.client-profile-uploaded .location-xx2hc7 {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.client-profile-uploaded .location-hOmTUs {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.client-profile-uploaded .siguiendo-sWXyey {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 195px;
  width: auto;
}

.client-profile-uploaded .x29-emprendimientos-sWXyey {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 216px;
  width: auto;
}

.client-profile-uploaded .span0-ezHDjm {
}

.client-profile-uploaded .span1-ezHDjm {
}

.client-profile-uploaded .amo-el-maquillaje-la-comida-y-viajar-sWXyey {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 137px;
  white-space: nowrap;
  width: 364px;
}

.client-profile-uploaded .status-bar-i-phone-13-13-pro-sWXyey {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-profile-uploaded .indicators-nuOAhf {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.client-profile-uploaded .elements-signal-kf4xw7 {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.client-profile-uploaded .cellular-connection-r0XQ9x {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.client-profile-uploaded .elements-connection-kf4xw7 {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.client-profile-uploaded .wifi-ruxvP8 {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.client-profile-uploaded .elements-battery-kf4xw7 {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.client-profile-uploaded .border-ElSLC9 {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.client-profile-uploaded .cap-ElSLC9 {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.client-profile-uploaded .capacity-ElSLC9 {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.client-profile-uploaded .mic-cam-nuOAhf {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.client-profile-uploaded .elements-time-nuOAhf {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.client-profile-uploaded .time-FJR5p7 {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.client-profile-uploaded .config-sWXyey {
  background-color: transparent;
  height: 38px;
  left: 329px;
  position: absolute;
  top: 247px;
  width: 42px;
}

.client-profile-uploaded .iconly-bold-setting-J4Nmdc {
  background-color: transparent;
  height: 24px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 24px;
}

.client-profile-uploaded .setting-DPQonD {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.client-profile-uploaded .setting-Qx7JsM {
  background-color: transparent;
  height: 20px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.client-profile-uploaded .rectangle-1327-J4Nmdc {
  background-color: transparent;
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}

.client-profile-uploaded .cliente-sWXyey {
  background-color: transparent;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 390px;
}

.client-profile-uploaded .rectangle-1335-6nIe6b {
  background-color: var(--white);
  height: 51px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-profile-uploaded .vector-9-6nIe6b {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 50px;
  width: 390px;
}

.client-profile-uploaded .vector-10-6nIe6b {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.client-profile-uploaded .group-1982-6nIe6b {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 52px;
  position: absolute;
  top: 8px;
  width: 35px;
}

.client-profile-uploaded .iconly-bold-category-xc6QNK {
  background-color: transparent;
  height: 24px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.client-profile-uploaded .category-cCfrne {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 20px;
}

.client-profile-uploaded .category-ab1hND {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 20px;
}

.client-profile-uploaded .subido-xc6QNK {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: auto;
}

.client-profile-uploaded .group-1983-6nIe6b {
  background-color: transparent;
  height: 37px;
  left: 175px;
  position: absolute;
  top: 3px;
  width: 42px;
}

.client-profile-uploaded .iconly-bold-heart-tcTutL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.client-profile-uploaded .heart-XWFxg1 {
  background-color: transparent;
  height: 19px;
  left: 2px;
  position: relative;
  top: 3px;
  width: 20px;
}

.client-profile-uploaded .heart-N01WtA {
  background-color: transparent;
  height: 19px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.client-profile-uploaded .gustado-tcTutL {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: auto;
}

.client-profile-uploaded .group-1984-6nIe6b {
  background-color: transparent;
  height: 42px;
  left: 303px;
  position: absolute;
  top: 3px;
  width: 45px;
}

.client-profile-uploaded .solid-general-shopping-bag-AuF8DP {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  left: 7px;
  position: absolute;
  top: -0px;
  width: 29px;
}

.client-profile-uploaded .compras-AuF8DP {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: auto;
}

.client-profile-uploaded .camila-montoya-sWXyey {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 57px;
  width: auto;
}

.client-profile-uploaded .cami-montoya22-sWXyey {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 79px;
  width: auto;
}
