/* screen - client-profile-products */

.client-profile-products {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.client-profile-products .editar-perfil-4xxvZx {
  background-color: transparent;
  height: 38px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 247px;
  width: 298px;
}

.client-profile-products .group-341-i8V5OQ {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 298px;
}

.client-profile-products .rectangle-6-bZihEW {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 298px;
}

.client-profile-products .enviar-bZihEW {
  background-color: transparent;
  height: 38px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 258px;
}

.client-profile-products .camila-montoya-4xxvZx {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 57px;
  width: auto;
}

.client-profile-products .cami-montoya22-4xxvZx {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 79px;
  width: auto;
}

.client-profile-products .rectangle-16-4xxvZx {
  background-color: transparent;
  height: 1px;
  left: -381px;
  mix-blend-mode: normal;
  position: absolute;
  top: 87px;
  width: 1px;
}

.client-profile-products .nombre-cliente-4xxvZx {
  background-color: transparent;
  height: auto;
  left: -330px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 57px;
  width: auto;
}

.client-profile-products .usuario-cliente-4xxvZx {
  background-color: transparent;
  height: auto;
  left: -330px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 79px;
  width: auto;
}

.client-profile-products .iconly-bold-setting-4xxvZx {
  background-color: transparent;
  height: 19px;
  left: -89px;
  mix-blend-mode: normal;
  position: absolute;
  top: 45px;
  width: 24px;
}

.client-profile-products .setting-REhNnH {
  background-color: transparent;
  height: 16px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.client-profile-products .setting-20SOR1 {
  background-color: transparent;
  height: 1px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 1px;
}

.client-profile-products .cali-colombia-4xxvZx {
  background-color: transparent;
  height: auto;
  left: -329px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 104px;
  width: 364px;
}

.client-profile-products .iconly-bold-location-4xxvZx {
  background-color: transparent;
  height: 13px;
  left: -330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 82px;
  width: 16px;
}

.client-profile-products .location-hRlx6a {
  background-color: transparent;
  height: 10px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.client-profile-products .location-MAK1wU {
  background-color: transparent;
  height: 1px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 1px;
}

.client-profile-products .siguiendo-4xxvZx {
  background-color: transparent;
  height: auto;
  left: -413px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 195px;
  width: auto;
}

.client-profile-products .x29-emprendimientos-4xxvZx {
  background-color: transparent;
  height: auto;
  left: -413px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 216px;
  width: auto;
}

.client-profile-products .span0-xDQfia {
}

.client-profile-products .span1-xDQfia {
}

.client-profile-products .x13-fundaciones-4xxvZx {
  background-color: transparent;
  height: auto;
  left: -248px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 216px;
  width: auto;
}

.client-profile-products .span0-ey027b {
}

.client-profile-products .span1-ey027b {
}

.client-profile-products .lorem-ipsum-dolor-si-4xxvZx {
  background-color: transparent;
  height: auto;
  left: -413px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 137px;
  width: 364px;
}

.client-profile-products .iconly-bold-category-4xxvZx {
  background-color: transparent;
  height: 19px;
  left: -381px;
  mix-blend-mode: normal;
  position: absolute;
  top: 248px;
  width: 24px;
}

.client-profile-products .category-Xl4Cky {
  background-color: transparent;
  height: 16px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 20px;
}

.client-profile-products .category-qL2DlY {
  background-color: transparent;
  height: 1px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 1px;
}

.client-profile-products .solid-general-shopping-bag-4xxvZx {
  background-color: transparent;
  height: 1px;
  left: -243px;
  position: absolute;
  top: 328px;
  width: 1px;
}

.client-profile-products .care-4xxvZx {
  background-color: transparent;
  cursor: pointer;
  height: 1px;
  left: -93px;
  mix-blend-mode: normal;
  position: absolute;
  top: 328px;
  width: 1px;
}

.client-profile-products .rectangle-38-4xxvZx {
  background-color: var(--cielo);
  border-radius: 7.5px;
  height: 34px;
  left: -413px;
  mix-blend-mode: normal;
  position: absolute;
  top: 251px;
  width: 346px;
}

.client-profile-products .editar-mi-perfil-4xxvZx {
  background-color: transparent;
  height: auto;
  left: -294px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 259px;
  width: auto;
}

.client-profile-products .rectangle-1328-4xxvZx {
  background-color: transparent;
  height: 67px;
  left: 25px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 55px;
  width: 67px;
}

.client-profile-products .siguiendo-LgDFK2 {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 195px;
  width: auto;
}

.client-profile-products .x29-emprendimientos-LgDFK2 {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 216px;
  width: auto;
}

.client-profile-products .span0-SvOVIx {
}

.client-profile-products .span1-SvOVIx {
}

.client-profile-products .amo-el-maquillaje-la-comida-y-viajar-4xxvZx {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 137px;
  white-space: nowrap;
  width: 364px;
}

.client-profile-products .status-bar-i-phone-13-13-pro-4xxvZx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-profile-products .indicators-d2oWB8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.client-profile-products .elements-signal-fRcwsi {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.client-profile-products .cellular-connection-cxrbgB {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.client-profile-products .elements-connection-fRcwsi {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.client-profile-products .wifi-l4Up0x {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.client-profile-products .elements-battery-fRcwsi {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.client-profile-products .border-tqk0Lk {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.client-profile-products .cap-tqk0Lk {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.client-profile-products .capacity-tqk0Lk {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.client-profile-products .mic-cam-d2oWB8 {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.client-profile-products .elements-time-d2oWB8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.client-profile-products .time-LGldDS {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.client-profile-products .cart-4xxvZx {
  background-color: transparent;
  height: 24px;
  left: 347px;
  mix-blend-mode: normal;
  position: absolute;
  top: 55px;
  transform: rotate(-180deg);
  width: 24px;
}

.client-profile-products .vector-39-idGHHC {
  background-color: transparent;
  height: 18px;
  left: -1px;
  position: absolute;
  top: 0px;
  transform: rotate(-180deg);
  width: 24px;
}

.client-profile-products .ellipse-36-idGHHC {
  background-color: transparent;
  border-radius: 2.01px;
  height: 4px;
  left: 6px;
  position: absolute;
  top: 19px;
  width: 4px;
}

.client-profile-products .ellipse-37-idGHHC {
  background-color: transparent;
  border-radius: 2.01px;
  height: 4px;
  left: 18px;
  position: absolute;
  top: 19px;
  width: 4px;
}

.client-profile-products .cliente-4xxvZx {
  background-color: transparent;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 390px;
}

.client-profile-products .rectangle-1335-POmput {
  background-color: var(--white);
  height: 51px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-profile-products .vector-9-POmput {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 50px;
  width: 390px;
}

.client-profile-products .vector-10-POmput {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.client-profile-products .group-1982-POmput {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 52px;
  position: absolute;
  top: 8px;
  width: 35px;
}

.client-profile-products .iconly-bold-category-labv7J {
  background-color: transparent;
  height: 24px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.client-profile-products .category-yautyt {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 20px;
}

.client-profile-products .category-xJ45rz {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 20px;
}

.client-profile-products .subido-labv7J {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: auto;
}

.client-profile-products .group-1983-POmput {
  background-color: transparent;
  height: 37px;
  left: 175px;
  position: absolute;
  top: 8px;
  width: 42px;
}

.client-profile-products .iconly-bold-heart-DUVvBO {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.client-profile-products .heart-RKqz0G {
  background-color: transparent;
  height: 19px;
  left: 2px;
  position: relative;
  top: 3px;
  width: 20px;
}

.client-profile-products .heart-sqHxgu {
  background-color: transparent;
  height: 19px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.client-profile-products .gustado-DUVvBO {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: auto;
}

.client-profile-products .group-1984-POmput {
  background-color: transparent;
  height: 42px;
  left: 303px;
  position: absolute;
  top: 3px;
  width: 45px;
}

.client-profile-products .solid-general-shopping-bag-pNjaEQ {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  left: 7px;
  position: absolute;
  top: -0px;
  width: 29px;
}

.client-profile-products .compras-pNjaEQ {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: auto;
}

.client-profile-products .frame-84-4xxvZx::-webkit-scrollbar {
  display: none;
  width: 0;
}

.client-profile-products .frame-84-4xxvZx {
  background-color: transparent;
  height: 418px;
  left: 0px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 351px;
  width: 389px;
}

.client-profile-products .mis-pedidos-activos-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 459px;
  width: auto;
}

.client-profile-products .rectangle-1334-zK1tPJ {
  background-color: var(--white);
  border-radius: 7.5px;
  height: 78px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 492px;
  width: 346px;
}

.client-profile-products .rectangle-1335-zK1tPJ {
  background-color: var(--white);
  border: 0.5px solid var(--gray-icon);
  border-radius: 7.5px;
  height: 44px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 581px;
  width: 346px;
}

.client-profile-products .mooitienda-zK1tPJ {
  background-color: transparent;
  color: var(--osc-intermedio);
  font-family: var(--font-family-inter);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 512px;
  width: 262px;
}

.client-profile-products .group-260-zK1tPJ {
  background-color: transparent;
  height: 17px;
  left: 291px;
  position: absolute;
  top: 546px;
  width: 74px;
}

.client-profile-products .total-88000-QYKsxN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 72px;
}

.client-profile-products .ver-historial-completo-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 595px;
  white-space: nowrap;
  width: 217px;
}

.client-profile-products .x31032022-910am-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: left;
  top: 545px;
  width: 129px;
}

.client-profile-products .ellipse-85-zK1tPJ {
  background-color: #030200;
  border-radius: 26.5px;
  height: 53px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 505px;
  width: 53px;
}

.client-profile-products .image-8-zK1tPJ {
  background-color: transparent;
  height: 1px;
  left: 60px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 531px;
  width: 1px;
}

.client-profile-products .x3-artculos-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 528px;
  white-space: nowrap;
  width: 364px;
}

.client-profile-products .pendiente-zK1tPJ {
  background-color: transparent;
  color: var(--orange);
  font-family: var(--font-family-inter);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 498px;
  white-space: nowrap;
  width: 364px;
}

.client-profile-products .arrow-6-zK1tPJ {
  background-color: transparent;
  height: 1px;
  left: 341px;
  position: absolute;
  top: 603px;
  width: 1px;
}

.client-profile-products .mis-premios-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 302px;
  width: auto;
}

.client-profile-products .mis-stickers-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 20px;
  width: auto;
}

.client-profile-products .group-2009-zK1tPJ {
  background-color: transparent;
  height: 80px;
  left: 183px;
  position: absolute;
  top: 52px;
  width: 62px;
}

.client-profile-products .ver-tienda-TExRiq {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 63px;
  white-space: nowrap;
  width: 54px;
}

.client-profile-products .group-2008-TExRiq {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 60px;
}

.client-profile-products .arrow-5-cWP1hT {
  background-color: transparent;
  height: 15px;
  left: 18px;
  position: absolute;
  top: 22px;
  width: 24px;
}

.client-profile-products .rectangle-1327-cWP1hT {
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 60px;
}

.client-profile-products .rectangle-46-zK1tPJ {
  background-color: var(--white);
  border-radius: 7.5px;
  height: 110px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 177px;
  width: 346px;
}

.client-profile-products .rectangle-1331-zK1tPJ {
  background-color: var(--white);
  border-radius: 7.5px;
  height: 110px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 333px;
  width: 346px;
}

.client-profile-products .mis-cupones-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 144px;
  width: auto;
}

.client-profile-products .group-258-zK1tPJ {
  background-color: transparent;
  height: 22px;
  left: 128px;
  position: absolute;
  top: 256px;
  width: 85px;
}

.client-profile-products .rectangle-1324-WohP2W {
  background-color: var(--orange);
  border-radius: 7px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 83px;
}

.client-profile-products .x10000-WohP2W {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 72px;
}

.client-profile-products .en-srsly-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 128px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 227px;
  white-space: nowrap;
  width: 217px;
}

.client-profile-products .span0-j8RjZO {
}

.client-profile-products .span1-j8RjZO {
}

.client-profile-products .descuento-en-camisetas-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 128px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: 262px;
}

.client-profile-products .en-ketofoodscali-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 128px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 404px;
  white-space: nowrap;
  width: 217px;
}

.client-profile-products .span0-bqm4ZE {
}

.client-profile-products .span1-bqm4ZE {
}

.client-profile-products .rectangle-8-zK1tPJ {
  background-color: transparent;
  height: 93px;
  left: 35px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 185px;
  width: 80px;
}

.client-profile-products .vlido-hasta-el-31052022-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 232px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: right;
  top: 187px;
  width: 129px;
}

.client-profile-products .vlido-hasta-el-31052022-z2xFSa {
  background-color: transparent;
  height: auto;
  left: 232px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 129px;
}

.client-profile-products .image-7-zK1tPJ {
  background-color: transparent;
  height: 76px;
  left: 35px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 350px;
  width: 80px;
}

.client-profile-products .rectangle-zK1tPJ {
  background-color: transparent;
  height: 28px;
  left: 87px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 340px;
  width: 28px;
}

.client-profile-products .rectangle-1333-zK1tPJ {
  background-color: var(--amarillo);
  border-radius: 12.83px;
  height: 16px;
  left: 129px;
  mix-blend-mode: normal;
  position: absolute;
  top: 346px;
  width: 68px;
}

.client-profile-products .cliente-amix-zK1tPJ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 8.6px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 348px;
  width: auto;
}

.client-profile-products .group-257-zK1tPJ {
  background-color: transparent;
  height: 16px;
  left: 128px;
  position: absolute;
  top: 187px;
  width: 78px;
}

.client-profile-products .rectangle-1334-FwamhZ {
  background-color: var(--cielo);
  border-radius: 12.79px;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 76px;
}

.client-profile-products .cliente-bestie-FwamhZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 8.5px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: auto;
}

.client-profile-products .group-2007-zK1tPJ {
  background-color: transparent;
  height: 83px;
  left: 103px;
  position: absolute;
  top: 49px;
  width: 71px;
}

.client-profile-products .group-2005-APLt3N {
  background-color: transparent;
  height: 22px;
  left: 49px;
  position: absolute;
  top: 46px;
  width: 24px;
}

.client-profile-products .ellipse-81-dAfROk {
  background-color: var(--pink);
  border-radius: 11px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 22px;
}

.client-profile-products .x1-dAfROk {
  background-color: transparent;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.client-profile-products .group-2003-APLt3N {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 62px;
}

.client-profile-products .x12000-BSDaLN {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 66px;
  white-space: nowrap;
  width: 54px;
}

.client-profile-products .rectangle-1326-BSDaLN {
  background-color: transparent;
  border-radius: 10px;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 60px;
}

.client-profile-products .image00007-BSDaLN {
  background-color: transparent;
  height: 64px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 42px;
}

.client-profile-products .group-2006-zK1tPJ {
  background-color: transparent;
  height: 80px;
  left: 25px;
  position: absolute;
  top: 52px;
  width: 72px;
}

.client-profile-products .group-2004-FMrMJ8 {
  background-color: transparent;
  height: 22px;
  left: 50px;
  position: absolute;
  top: 43px;
  width: 24px;
}

.client-profile-products .ellipse-80-8Eiko3 {
  background-color: var(--amarillo);
  border-radius: 11px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 22px;
}

.client-profile-products .x2-8Eiko3 {
  background-color: transparent;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.client-profile-products .group-2002-FMrMJ8 {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 63px;
}

.client-profile-products .rectangle-1330-5Ebm50 {
  background-color: transparent;
  border-radius: 10px;
  height: 60px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 60px;
}

.client-profile-products .x500-5Ebm50 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 63px;
  white-space: nowrap;
  width: 54px;
}

.client-profile-products .image00003-5Ebm50 {
  background-color: transparent;
  height: 45px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 47px;
}

.client-profile-products .te-has-ganado-una-zK1tPJ {
  background-color: transparent;
  height: auto;
  left: 129px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 367px;
  width: 262px;
}

.client-profile-products .granola-de-frutos-rojos-zK1tPJ {
  background-color: transparent;
  color: var(--amarillo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 129px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 384px;
  width: 262px;
}

.client-profile-products .config-4xxvZx {
  background-color: transparent;
  height: 38px;
  left: 329px;
  position: absolute;
  top: 247px;
  width: 42px;
}

.client-profile-products .iconly-bold-setting-38ZzMn {
  background-color: transparent;
  height: 23px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 24px;
}

.client-profile-products .setting-HQq6Rq {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.client-profile-products .setting-Fi6q3l {
  background-color: transparent;
  height: 20px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 19px;
}

.client-profile-products .rectangle-1327-38ZzMn {
  background-color: transparent;
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}

.client-profile-products .nav-client-4xxvZx {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.client-profile-products .rectangle-1463-rNAp08 {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-profile-products .union-rNAp08 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.client-profile-products .union-9gBIzn {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.client-profile-products .union-xTOIzu {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 37px;
}

.client-profile-products .union-Q1nCoo {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.client-profile-products .chat-1-4xxvZx {
  background-color: transparent;
  height: 27px;
  left: 310px;
  position: absolute;
  top: 53px;
  width: 27px;
}

.client-profile-products .cali-colombia-LgDFK2 {
  background-color: transparent;
  height: auto;
  left: 109px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 104px;
  width: 364px;
}

.client-profile-products .iconly-bold-location-LgDFK2 {
  background-color: transparent;
  height: 16px;
  left: 108px;
  position: absolute;
  top: 105px;
  width: 16px;
}

.client-profile-products .location-86gsfk {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.client-profile-products .location-buI92u {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}
