/* screen - client-entrepreneur-profile-uploaded */

.client-entrepreneur-profile-uploaded {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .rectangle-8-r1eOeF {
  background-color: transparent;
  height: 72px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .emprendedor-vista-cliente-arreglado-r1eOeF {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .vector-7-DLfFNr {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .rectangle-1336-DLfFNr {
  background-color: var(--white);
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .group-1973-DLfFNr {
  background-color: transparent;
  height: 36px;
  left: 59px;
  position: absolute;
  top: 6px;
  width: 35px;
}

.client-entrepreneur-profile-uploaded .iconly-bold-category-cEgOLr {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 23px;
}

.client-entrepreneur-profile-uploaded .category-kLq2H0 {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.client-entrepreneur-profile-uploaded .category-CfYF6b {
  background-color: transparent;
  height: 20px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 19px;
}

.client-entrepreneur-profile-uploaded .subido-cEgOLr {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .group-1974-DLfFNr {
  background-color: transparent;
  height: 34px;
  left: 124px;
  position: absolute;
  top: 7px;
  width: 54px;
}

.client-entrepreneur-profile-uploaded .vector-wzORgj {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 16px;
  position: absolute;
  top: -0px;
  width: 21px;
}

.client-entrepreneur-profile-uploaded .feedbacks-wzORgj {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .group-1975-DLfFNr {
  background-color: transparent;
  height: 36px;
  left: 208px;
  position: absolute;
  top: 6px;
  width: 50px;
}

.client-entrepreneur-profile-uploaded .icon-Ls0BrS {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 18px;
}

.client-entrepreneur-profile-uploaded .proyectos-Ls0BrS {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .group-1976-DLfFNr {
  background-color: transparent;
  height: 34px;
  left: 288px;
  position: absolute;
  top: 7px;
  width: 45px;
}

.client-entrepreneur-profile-uploaded .icon-66uSTM {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 24px;
}

.client-entrepreneur-profile-uploaded .catlogo-66uSTM {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .status-bar-i-phone-13-13-pro-r1eOeF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .indicators-xBQHPi {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.client-entrepreneur-profile-uploaded .elements-signal-Z8Lpn5 {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.client-entrepreneur-profile-uploaded .cellular-connection-v7NYpq {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.client-entrepreneur-profile-uploaded .elements-connection-Z8Lpn5 {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.client-entrepreneur-profile-uploaded .wifi-DBpGvd {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.client-entrepreneur-profile-uploaded .elements-battery-Z8Lpn5 {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.client-entrepreneur-profile-uploaded .border-2IQygX {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.client-entrepreneur-profile-uploaded .cap-2IQygX {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.client-entrepreneur-profile-uploaded .capacity-2IQygX {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.client-entrepreneur-profile-uploaded .mic-cam-xBQHPi {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.client-entrepreneur-profile-uploaded .elements-time-xBQHPi {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.client-entrepreneur-profile-uploaded .time-e5ODjz {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.client-entrepreneur-profile-uploaded .group-261-r1eOeF {
  background-color: transparent;
  height: 38px;
  left: 27px;
  position: absolute;
  top: 277px;
  width: 164px;
}

.client-entrepreneur-profile-uploaded .rectangle-6-T0wITM {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 164px;
}

.client-entrepreneur-profile-uploaded .enviar-T0wITM {
  background-color: transparent;
  height: 38px;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 142px;
}

.client-entrepreneur-profile-uploaded .group-273-r1eOeF {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 206px;
  position: absolute;
  top: 277px;
  width: 157px;
}

.client-entrepreneur-profile-uploaded .rectangle-6-UXV7qe {
  background-color: var(--rosa-claro);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 157px;
}

.client-entrepreneur-profile-uploaded .enviar-UXV7qe {
  background-color: transparent;
  height: 38px;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 136px;
}

.client-entrepreneur-profile-uploaded .donar-r1eOeF {
  background-color: transparent;
  height: 38px;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 276px;
  width: 125px;
}

.client-entrepreneur-profile-uploaded .frame-88-r1eOeF::-webkit-scrollbar {
  display: none;
  width: 0;
}

.client-entrepreneur-profile-uploaded .frame-88-r1eOeF {
  background-color: transparent;
  height: 374px;
  left: 0px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 395px;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .contenido-e9RDwb {
  background-color: transparent;
  border-radius: 7.42px;
  height: 241px;
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .contenido-NG7yVf {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .group-244-NG7yVf {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .rectangle-54-uLUYXs {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .group-243-NG7yVf {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.client-entrepreneur-profile-uploaded .view-Y7xjyM {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.client-entrepreneur-profile-uploaded .intersect-FlplsK {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 13px;
}

.client-entrepreneur-profile-uploaded .ellipse-31-FlplsK {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-entrepreneur-profile-uploaded .x1029-Y7xjyM {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .x913-Y7xjyM {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .vengan-a-probar-anitasbowls-Y7xjyM {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-entrepreneur-profile-uploaded .heart-NG7yVf {
  background-color: transparent;
  height: 10px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 220px;
  width: 12px;
}

.client-entrepreneur-profile-uploaded .contenido-DHD0VV {
  background-color: #00000033;
  border-radius: 7.42px;
  height: 241px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .contenido-JcvLHp {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .group-244-JcvLHp {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .group-243-JcvLHp {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.client-entrepreneur-profile-uploaded .view-KK1shf {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.client-entrepreneur-profile-uploaded .intersect-MRnV9u {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 13px;
}

.client-entrepreneur-profile-uploaded .ellipse-31-MRnV9u {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-entrepreneur-profile-uploaded .x1029-KK1shf {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .x913-KK1shf {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .vengan-a-probar-anitasbowls-KK1shf {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-entrepreneur-profile-uploaded .heart-JcvLHp {
  background-color: transparent;
  height: 10px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 220px;
  width: 12px;
}

.client-entrepreneur-profile-uploaded .group-272-e9RDwb {
  background-color: transparent;
  border-radius: 7.4px;
  height: 241px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 250px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .group-272-7ZMNAe {
  background-color: transparent;
  height: 124px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .group-244-7ZMNAe {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .rectangle-54-LTsWaa {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .group-243-7ZMNAe {
  background-color: transparent;
  height: 57px;
  left: 11px;
  position: absolute;
  top: 177px;
  width: 159px;
}

.client-entrepreneur-profile-uploaded .view-joGer3 {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 44px;
  width: 13px;
}

.client-entrepreneur-profile-uploaded .intersect-4B1ifB {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.client-entrepreneur-profile-uploaded .ellipse-31-4B1ifB {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-entrepreneur-profile-uploaded .x1029-joGer3 {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .x913-joGer3 {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .vengan-a-probar-anitasbowls-joGer3 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-entrepreneur-profile-uploaded .heart-7ZMNAe {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.client-entrepreneur-profile-uploaded .group-271-e9RDwb {
  background-color: transparent;
  border-radius: 7.44px;
  height: 241px;
  left: 200px;
  position: absolute;
  top: 250px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .group-244-cAffFC {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .rectangle-54-z9Jbeq {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-profile-uploaded .group-243-cAffFC {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.client-entrepreneur-profile-uploaded .view-f3CGhx {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.client-entrepreneur-profile-uploaded .intersect-nSgQvu {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.client-entrepreneur-profile-uploaded .ellipse-31-nSgQvu {
  background-color: transparent;
  border-radius: 2.19px/2.04px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-entrepreneur-profile-uploaded .x1029-f3CGhx {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .x913-f3CGhx {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .vengan-a-probar-anitasbowls-f3CGhx {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-entrepreneur-profile-uploaded .heart-cAffFC {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.client-entrepreneur-profile-uploaded .nav-client-r1eOeF {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .frame-110-dRKNOd {
  background-color: transparent;
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .rectangle-1462-BdHwQX {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-profile-uploaded .union-dRKNOd {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.client-entrepreneur-profile-uploaded .union-rOjaDl {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.client-entrepreneur-profile-uploaded .union-tGJCNA {
  background-color: transparent;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 37px;
}

.client-entrepreneur-profile-uploaded .union-YpT5Fp {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 37px;
}

.client-entrepreneur-profile-uploaded .union-a4aevs {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.client-entrepreneur-profile-uploaded .rectangle-16-r1eOeF {
  background-color: transparent;
  height: 67px;
  left: 28px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 97px;
  width: 67px;
}

.client-entrepreneur-profile-uploaded .rectangle-18-r1eOeF {
  background-color: var(--amarillo);
  border-radius: 40px;
  height: 22px;
  left: 76px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 22px;
}

.client-entrepreneur-profile-uploaded .blink-custom-jewels-r1eOeF {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 101px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .blinkcustom-jewels-r1eOeF {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .cali-colombia-somos-r1eOeF {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  position: absolute;
  text-align: left;
  top: 203px;
  width: 336px;
}

.client-entrepreneur-profile-uploaded .span0-dedJ3s {
}

.client-entrepreneur-profile-uploaded .span1-dedJ3s {
}

.client-entrepreneur-profile-uploaded .iconly-bold-location-r1eOeF {
  background-color: transparent;
  height: 16px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 204px;
  width: 15px;
}

.client-entrepreneur-profile-uploaded .location-LziCQR {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.client-entrepreneur-profile-uploaded .location-XRiOMr {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.client-entrepreneur-profile-uploaded .x233-seguidores-r1eOeF {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .span0-t2DCKz {
}

.client-entrepreneur-profile-uploaded .span1-t2DCKz {
}

.client-entrepreneur-profile-uploaded .star-1-r1eOeF {
  background-color: transparent;
  height: 11px;
  left: 81px;
  mix-blend-mode: normal;
  position: absolute;
  top: 148px;
  width: 11px;
}

.client-entrepreneur-profile-uploaded .group-268-r1eOeF {
  background-color: transparent;
  height: 11px;
  left: 112px;
  position: absolute;
  top: 88px;
  width: 95px;
}

.client-entrepreneur-profile-uploaded .usuario-verificado-iwIBKF {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.client-entrepreneur-profile-uploaded .group-267-iwIBKF {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.client-entrepreneur-profile-uploaded .subtract-OLqmKa {
  background-color: transparent;
  height: 9px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 9px;
}

.client-entrepreneur-profile-uploaded .group-269-r1eOeF {
  background-color: transparent;
  height: 20px;
  left: 112px;
  position: absolute;
  top: 166px;
  width: 63px;
}

.client-entrepreneur-profile-uploaded .rectangle-6-jPyJ8Y {
  background-color: var(--amarillo);
  border-radius: 7px;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 63px;
}

.client-entrepreneur-profile-uploaded .enviar-jPyJ8Y {
  background-color: transparent;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 54px;
}
