/* screen - client-entrepreneur-donateoverlay */

.client-entrepreneur-donateoverlay {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.client-entrepreneur-donateoverlay .rectangle-8-uyVxW4 {
  background-color: transparent;
  height: 72px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 390px;
}

.client-entrepreneur-donateoverlay .emprendedor-vista-cliente-arreglado-uyVxW4 {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 390px;
}

.client-entrepreneur-donateoverlay .vector-7-LpJexm {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.client-entrepreneur-donateoverlay .rectangle-1336-LpJexm {
  background-color: var(--white);
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-donateoverlay .group-1973-LpJexm {
  background-color: transparent;
  height: 36px;
  left: 59px;
  position: absolute;
  top: 6px;
  width: 35px;
}

.client-entrepreneur-donateoverlay .iconly-bold-category-v7iWUK {
  background-color: transparent;
  height: 24px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 23px;
}

.client-entrepreneur-donateoverlay .category-NbhH9W {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.client-entrepreneur-donateoverlay .category-xFEmxx {
  background-color: transparent;
  height: 20px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 19px;
}

.client-entrepreneur-donateoverlay .subido-v7iWUK {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.client-entrepreneur-donateoverlay .group-1974-LpJexm {
  background-color: transparent;
  height: 34px;
  left: 124px;
  position: absolute;
  top: 7px;
  width: 54px;
}

.client-entrepreneur-donateoverlay .vector-5AzanR {
  background-color: transparent;
  height: 20px;
  left: 16px;
  position: absolute;
  top: -0px;
  width: 21px;
}

.client-entrepreneur-donateoverlay .feedbacks-5AzanR {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: auto;
}

.client-entrepreneur-donateoverlay .group-1975-LpJexm {
  background-color: transparent;
  height: 36px;
  left: 208px;
  position: absolute;
  top: 6px;
  width: 50px;
}

.client-entrepreneur-donateoverlay .icon-L1Hix2 {
  background-color: transparent;
  height: 23px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 18px;
}

.client-entrepreneur-donateoverlay .proyectos-L1Hix2 {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.client-entrepreneur-donateoverlay .group-1976-LpJexm {
  background-color: transparent;
  height: 34px;
  left: 288px;
  position: absolute;
  top: 7px;
  width: 45px;
}

.client-entrepreneur-donateoverlay .icon-hM74md {
  background-color: transparent;
  height: 21px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 24px;
}

.client-entrepreneur-donateoverlay .catlogo-hM74md {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: auto;
}

.client-entrepreneur-donateoverlay .status-bar-i-phone-13-13-pro-uyVxW4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-donateoverlay .indicators-4wZXYr {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.client-entrepreneur-donateoverlay .elements-signal-6jpsHI {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.client-entrepreneur-donateoverlay .cellular-connection-sMDpPe {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.client-entrepreneur-donateoverlay .elements-connection-6jpsHI {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.client-entrepreneur-donateoverlay .wifi-inr7qZ {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.client-entrepreneur-donateoverlay .elements-battery-6jpsHI {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.client-entrepreneur-donateoverlay .border-wxhIt0 {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.client-entrepreneur-donateoverlay .cap-wxhIt0 {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.client-entrepreneur-donateoverlay .capacity-wxhIt0 {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.client-entrepreneur-donateoverlay .mic-cam-4wZXYr {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.client-entrepreneur-donateoverlay .elements-time-4wZXYr {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.client-entrepreneur-donateoverlay .time-Z8QLul {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.client-entrepreneur-donateoverlay .group-261-uyVxW4 {
  background-color: transparent;
  height: 38px;
  left: 27px;
  position: absolute;
  top: 277px;
  width: 164px;
}

.client-entrepreneur-donateoverlay .rectangle-6-k6alVS {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 164px;
}

.client-entrepreneur-donateoverlay .enviar-k6alVS {
  background-color: transparent;
  height: 38px;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 142px;
}

.client-entrepreneur-donateoverlay .group-273-uyVxW4 {
  background-color: transparent;
  height: 38px;
  left: 206px;
  position: absolute;
  top: 277px;
  width: 157px;
}

.client-entrepreneur-donateoverlay .rectangle-6-orIikL {
  background-color: var(--rosa-claro);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 157px;
}

.client-entrepreneur-donateoverlay .enviar-orIikL {
  background-color: transparent;
  height: 38px;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 136px;
}

.client-entrepreneur-donateoverlay .donar-uyVxW4 {
  background-color: transparent;
  height: 38px;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 276px;
  width: 125px;
}

.client-entrepreneur-donateoverlay .frame-88-uyVxW4::-webkit-scrollbar {
  display: none;
  width: 0;
}

.client-entrepreneur-donateoverlay .frame-88-uyVxW4 {
  background-color: transparent;
  height: 374px;
  left: 0px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 395px;
  width: 390px;
}

.client-entrepreneur-donateoverlay .contenido-X6kx9I {
  background-color: transparent;
  border-radius: 7.42px;
  height: 241px;
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .contenido-Od65uV {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .group-244-Od65uV {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .rectangle-54-0QItbx {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .group-243-Od65uV {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.client-entrepreneur-donateoverlay .view-DZhpOd {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.client-entrepreneur-donateoverlay .intersect-sVuxEf {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 13px;
}

.client-entrepreneur-donateoverlay .ellipse-31-sVuxEf {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-entrepreneur-donateoverlay .x1029-DZhpOd {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-donateoverlay .x913-DZhpOd {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-donateoverlay .vengan-a-probar-anitasbowls-DZhpOd {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-entrepreneur-donateoverlay .heart-Od65uV {
  background-color: transparent;
  height: 10px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 220px;
  width: 12px;
}

.client-entrepreneur-donateoverlay .contenido-DQZmUP {
  background-color: #00000033;
  border-radius: 7.42px;
  height: 241px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .contenido-zJ6XOJ {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .group-244-zJ6XOJ {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .group-243-zJ6XOJ {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.client-entrepreneur-donateoverlay .view-f9c0vI {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.client-entrepreneur-donateoverlay .intersect-5lw8Cz {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 13px;
}

.client-entrepreneur-donateoverlay .ellipse-31-5lw8Cz {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-entrepreneur-donateoverlay .x1029-f9c0vI {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-donateoverlay .x913-f9c0vI {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-donateoverlay .vengan-a-probar-anitasbowls-f9c0vI {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-entrepreneur-donateoverlay .heart-zJ6XOJ {
  background-color: transparent;
  height: 10px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 220px;
  width: 12px;
}

.client-entrepreneur-donateoverlay .group-272-X6kx9I {
  background-color: transparent;
  border-radius: 7.4px;
  height: 241px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 250px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .group-272-abwjjB {
  background-color: transparent;
  height: 124px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .group-244-abwjjB {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .rectangle-54-4mvnoR {
  background-color: transparent;
  height: 124px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .group-243-abwjjB {
  background-color: transparent;
  height: 57px;
  left: 11px;
  position: absolute;
  top: 177px;
  width: 159px;
}

.client-entrepreneur-donateoverlay .view-JxgDix {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 44px;
  width: 13px;
}

.client-entrepreneur-donateoverlay .intersect-wi6NLN {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.client-entrepreneur-donateoverlay .ellipse-31-wi6NLN {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-entrepreneur-donateoverlay .x1029-JxgDix {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.client-entrepreneur-donateoverlay .x913-JxgDix {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.client-entrepreneur-donateoverlay .vengan-a-probar-anitasbowls-JxgDix {
  background-color: transparent;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-entrepreneur-donateoverlay .heart-abwjjB {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.client-entrepreneur-donateoverlay .group-271-X6kx9I {
  background-color: transparent;
  border-radius: 7.44px;
  height: 241px;
  left: 200px;
  position: absolute;
  top: 250px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .group-244-t5w5Ll {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .rectangle-54-oqKW41 {
  background-color: transparent;
  height: 124px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 178px;
}

.client-entrepreneur-donateoverlay .group-243-t5w5Ll {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.client-entrepreneur-donateoverlay .view-CPQoox {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.client-entrepreneur-donateoverlay .intersect-mAlUxC {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.client-entrepreneur-donateoverlay .ellipse-31-mAlUxC {
  background-color: transparent;
  border-radius: 2.19px/2.04px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.client-entrepreneur-donateoverlay .x1029-CPQoox {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-donateoverlay .x913-CPQoox {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.client-entrepreneur-donateoverlay .vengan-a-probar-anitasbowls-CPQoox {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.client-entrepreneur-donateoverlay .heart-t5w5Ll {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.client-entrepreneur-donateoverlay .nav-emprendimiento-uyVxW4 {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.client-entrepreneur-donateoverlay .rectangle-1463-3Odxb8 {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-donateoverlay .union-3Odxb8 {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.client-entrepreneur-donateoverlay .union-qQSvM8 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.client-entrepreneur-donateoverlay .union-AAOeoM {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.client-entrepreneur-donateoverlay .union-txPVSr {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.client-entrepreneur-donateoverlay .rectangle-16-uyVxW4 {
  background-color: transparent;
  height: 67px;
  left: 28px;
  mix-blend-mode: normal;
  position: absolute;
  top: 97px;
  width: 67px;
}

.client-entrepreneur-donateoverlay .rectangle-18-uyVxW4 {
  background-color: var(--amarillo);
  border-radius: 40px;
  height: 22px;
  left: 76px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 22px;
}

.client-entrepreneur-donateoverlay .blink-custom-jewels-uyVxW4 {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 101px;
  width: auto;
}

.client-entrepreneur-donateoverlay .blinkcustom-jewels-uyVxW4 {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: auto;
}

.client-entrepreneur-donateoverlay .cali-colombia-somos-uyVxW4 {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  position: absolute;
  text-align: left;
  top: 203px;
  width: 336px;
}

.client-entrepreneur-donateoverlay .span0-WyAHZE {
}

.client-entrepreneur-donateoverlay .span1-WyAHZE {
}

.client-entrepreneur-donateoverlay .iconly-bold-location-uyVxW4 {
  background-color: transparent;
  height: 16px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 204px;
  width: 15px;
}

.client-entrepreneur-donateoverlay .location-FbCpKf {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.client-entrepreneur-donateoverlay .location-72tg6q {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.client-entrepreneur-donateoverlay .x233-seguidores-uyVxW4 {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.client-entrepreneur-donateoverlay .span0-63Sqd5 {
}

.client-entrepreneur-donateoverlay .span1-63Sqd5 {
}

.client-entrepreneur-donateoverlay .star-1-uyVxW4 {
  background-color: transparent;
  height: 11px;
  left: 81px;
  mix-blend-mode: normal;
  position: absolute;
  top: 148px;
  width: 11px;
}

.client-entrepreneur-donateoverlay .group-268-uyVxW4 {
  background-color: transparent;
  height: 11px;
  left: 112px;
  position: absolute;
  top: 88px;
  width: 95px;
}

.client-entrepreneur-donateoverlay .usuario-verificado-HInQuI {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.client-entrepreneur-donateoverlay .group-267-HInQuI {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.client-entrepreneur-donateoverlay .subtract-x7CL73 {
  background-color: transparent;
  height: 9px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 9px;
}

.client-entrepreneur-donateoverlay .group-269-uyVxW4 {
  background-color: transparent;
  height: 20px;
  left: 112px;
  position: absolute;
  top: 166px;
  width: 63px;
}

.client-entrepreneur-donateoverlay .rectangle-6-Pvhouo {
  background-color: var(--amarillo);
  border-radius: 7px;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 63px;
}

.client-entrepreneur-donateoverlay .enviar-Pvhouo {
  background-color: transparent;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 54px;
}

.client-entrepreneur-donateoverlay .fondo-uyVxW4 {
  background-color: transparent;
  height: 844px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.client-entrepreneur-donateoverlay .group-2042-uyVxW4 {
  background-color: transparent;
  height: 439px;
  left: 29px;
  position: absolute;
  top: 202px;
  width: 333px;
}

.client-entrepreneur-donateoverlay .group-287-0HzOAg {
  background-color: transparent;
  height: 439px;
  left: -0px;
  position: absolute;
  top: 0px;
  width: 333px;
}

.client-entrepreneur-donateoverlay .group-102-PXm7xU {
  background-color: transparent;
  height: 439px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}

.client-entrepreneur-donateoverlay .rectangle-1325-CygzCx {
  background-color: var(--hint-of-red);
  border-radius: 7px;
  height: 439px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 333px;
}

.client-entrepreneur-donateoverlay .group-101-CygzCx {
  background-color: transparent;
  height: 186px;
  left: 24px;
  position: absolute;
  top: 217px;
  width: 293px;
}

.client-entrepreneur-donateoverlay .donar-eUxxWz {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 239px;
}

.client-entrepreneur-donateoverlay .la-opcin-de-donar-es-eUxxWz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 287px;
}

.client-entrepreneur-donateoverlay .span0-WiCsky {
}

.client-entrepreneur-donateoverlay .span1-WiCsky {
}

.client-entrepreneur-donateoverlay .span2-WiCsky {
}

.client-entrepreneur-donateoverlay .no-volverme-a-mostrar-este-mensaje-eUxxWz {
  background-color: transparent;
  color: var(--osc-intermedio);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 174px;
  width: 206px;
}

.client-entrepreneur-donateoverlay .group-100-eUxxWz {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 73px;
  position: absolute;
  top: 121px;
  width: 140px;
}

.client-entrepreneur-donateoverlay .rectangle-1324-zofSaC {
  background-color: var(--rosa-claro);
  border-radius: 7.5px;
  height: 31px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 138px;
}

.client-entrepreneur-donateoverlay .s-quiero-donar-zofSaC {
  background-color: transparent;
  height: 14px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 117px;
}

.client-entrepreneur-donateoverlay .rectangle-1478-PXm7xU {
  background-color: transparent;
  border-radius: 3px;
  height: 11px;
  left: 37px;
  position: absolute;
  top: 391px;
  width: 11px;
}

.client-entrepreneur-donateoverlay .rectangle-16-PXm7xU {
  background-color: var(--rosa-claro);
  border-radius: 65px;
  height: 123px;
  left: 105px;
  mix-blend-mode: normal;
  position: absolute;
  top: 63px;
  width: 123px;
}

.client-entrepreneur-donateoverlay .image00004-0HzOAg {
  background-color: transparent;
  height: 102px;
  left: 113px;
  mix-blend-mode: normal;
  position: absolute;
  top: 73px;
  width: 105px;
}

.client-entrepreneur-donateoverlay .group-2041-0HzOAg {
  background-color: transparent;
  height: 26px;
  left: 287px;
  position: absolute;
  top: 18px;
  width: 26px;
}

.client-entrepreneur-donateoverlay .rectangle-71-eI2u0h {
  background-color: var(--cielo);
  border-radius: 4.94px;
  cursor: pointer;
  height: 26px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 26px;
}

.client-entrepreneur-donateoverlay .group-1981-eI2u0h {
  background-color: transparent;
  height: 12px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 13px;
}
