/* screen - ent-admin-catalogue-articleindv */

.ent-admin-catalogue-articleindv {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-admin-catalogue-articleindv .anillos-golden-I3ijVE {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 412px;
  width: 316px;
}

.ent-admin-catalogue-articleindv .cop-150000-I3ijVE {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 499px;
  white-space: nowrap;
  width: 316px;
}

.ent-admin-catalogue-articleindv .conjunto-de-anillos-I3ijVE {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 438px;
  width: 316px;
}

.ent-admin-catalogue-articleindv .status-bar-i-phone-13-13-pro-I3ijVE {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-admin-catalogue-articleindv .indicators-qCvSjl {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-admin-catalogue-articleindv .elements-signal-jP9EbP {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-admin-catalogue-articleindv .cellular-connection-cl0KhC {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-admin-catalogue-articleindv .elements-connection-jP9EbP {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-admin-catalogue-articleindv .wifi-xso2uy {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-admin-catalogue-articleindv .elements-battery-jP9EbP {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-admin-catalogue-articleindv .border-Mqx7BN {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-admin-catalogue-articleindv .cap-Mqx7BN {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-admin-catalogue-articleindv .capacity-Mqx7BN {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-admin-catalogue-articleindv .mic-cam-qCvSjl {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-admin-catalogue-articleindv .elements-time-qCvSjl {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-admin-catalogue-articleindv .time-gYSNVR {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-admin-catalogue-articleindv .admin-de-catlogo-I3ijVE {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}

.ent-admin-catalogue-articleindv .vector-I3ijVE {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 52px;
  width: 9px;
}

.ent-admin-catalogue-articleindv .nav-emprendimiento-I3ijVE {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ent-admin-catalogue-articleindv .rectangle-1463-hpcEGo {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-admin-catalogue-articleindv .union-hpcEGo {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-admin-catalogue-articleindv .union-EOJLFW {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-admin-catalogue-articleindv .union-xJTxxH {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-admin-catalogue-articleindv .union-53v5AJ {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ent-admin-catalogue-articleindv .fotos-I3ijVE::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ent-admin-catalogue-articleindv .fotos-I3ijVE {
  background-color: transparent;
  height: 260px;
  left: -0px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 106px;
  width: 558px;
}

.ent-admin-catalogue-articleindv .rectangle-1337-e0BrPY {
  background-color: transparent;
  height: 260px;
  left: 28px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 260px;
}

.ent-admin-catalogue-articleindv .group-274-e0BrPY {
  background-color: transparent;
  height: 260px;
  left: 298px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.ent-admin-catalogue-articleindv .rectangle-1338-yqn1N2 {
  background-color: transparent;
  height: 260px;
  left: 84px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 92px;
}

.ent-admin-catalogue-articleindv .ellipse-87-I3ijVE {
  background-color: var(--cielo-osc);
  border-radius: 30px;
  height: 60px;
  left: 302px;
  mix-blend-mode: normal;
  position: absolute;
  top: 682px;
  width: 60px;
}

.ent-admin-catalogue-articleindv .edit-I3ijVE {
  background-color: transparent;
  height: 24px;
  left: 319px;
  mix-blend-mode: normal;
  position: absolute;
  top: 701px;
  width: 24px;
}
