/* screen - ent-save-view-overlay */

.ent-save-view-overlay {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-save-view-overlay .nav-emprendimiento-i7wHpN {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 770px;
  width: 390px;
}

.ent-save-view-overlay .rectangle-1463-dpul0f {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-save-view-overlay .union-dpul0f {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-save-view-overlay .union-jBZDsp {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-save-view-overlay .union-SlxDkA {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-save-view-overlay .union-xAcsAp {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ent-save-view-overlay .aadir-dinero-a-mi-ahorro-i7wHpN {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: auto;
}

.ent-save-view-overlay .vector-i7wHpN {
  background-color: transparent;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 108px;
  width: 9px;
}

.ent-save-view-overlay .image-20-i7wHpN {
  background-color: transparent;
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-save-view-overlay .status-bar-i-phone-13-13-pro-i7wHpN {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-save-view-overlay .indicators-nJizrI {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-save-view-overlay .elements-signal-XfoDbK {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-save-view-overlay .cellular-connection-8liQcf {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-save-view-overlay .elements-connection-XfoDbK {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-save-view-overlay .wifi-xWSEPY {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-save-view-overlay .elements-battery-XfoDbK {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-save-view-overlay .border-HhJSLE {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-save-view-overlay .cap-HhJSLE {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-save-view-overlay .capacity-HhJSLE {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-save-view-overlay .mic-cam-nJizrI {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-save-view-overlay .elements-time-nJizrI {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-save-view-overlay .time-fHNWOb {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-save-view-overlay .dinero-actual-en-el-plan-de-ahorro-i7wHpN {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 169px;
  width: 166px;
}

.ent-save-view-overlay .x138400-i7wHpN {
  background-color: transparent;
  height: auto;
  left: 269px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 186px;
  white-space: nowrap;
  width: 90px;
}

.ent-save-view-overlay .group-293-i7wHpN {
  background-color: transparent;
  height: 38px;
  left: 19px;
  position: absolute;
  top: 711px;
  width: 354px;
}

.ent-save-view-overlay .rectangle-6-prmIDn {
  background-color: transparent;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 354px;
}

.ent-save-view-overlay .group-313-prmIDn {
  background-color: transparent;
  height: 14px;
  left: 91px;
  position: absolute;
  top: 10px;
  width: 187px;
}

.ent-save-view-overlay .confirmar-VcGZIh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 185px;
}

.ent-save-view-overlay .fondo-i7wHpN {
  background-color: transparent;
  height: 844px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-save-view-overlay .group-287-i7wHpN {
  background-color: transparent;
  height: 370px;
  left: 28px;
  position: absolute;
  top: 216px;
  width: 333px;
}

.ent-save-view-overlay .group-102-EVna6n {
  background-color: transparent;
  height: 370px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}

.ent-save-view-overlay .rectangle-1325-z4MVux {
  background-color: var(--hint-of-red);
  border-radius: 10px;
  height: 370px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 333px;
}

.ent-save-view-overlay .group-101-z4MVux {
  background-color: transparent;
  height: 72px;
  left: 48px;
  position: absolute;
  top: 195px;
  width: 243px;
}

.ent-save-view-overlay .felicidades-8z0Jsh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 239px;
}

.ent-save-view-overlay .se-aadi-dinero-a-tu-8z0Jsh {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 214px;
}

.ent-save-view-overlay .rectangle-16-EVna6n {
  background-color: transparent;
  height: 123px;
  left: 105px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 123px;
}

.ent-save-view-overlay .group-100-EVna6n {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 89px;
  position: absolute;
  top: 294px;
  width: 158px;
}

.ent-save-view-overlay .rectangle-1324-FJBlRS {
  background-color: var(--cielo);
  border-radius: 7.5px;
  height: 37px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 156px;
}

.ent-save-view-overlay .aceptar-FJBlRS {
  background-color: transparent;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 61px;
}
