/* screen - ent-pendient-contact */

.ent-pendient-contact {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-pendient-contact .empleados-i1sdsF::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ent-pendient-contact .empleados-i1sdsF {
  background-color: transparent;
  height: 569px;
  left: 30px;
  mix-blend-mode: normal;
  overflow-y: scroll;
  position: absolute;
  top: 194px;
  width: 331px;
}

.ent-pendient-contact .group-2172-9lPyFQ {
  background-color: transparent;
  height: 50px;
  left: -0px;
  position: absolute;
  top: 8px;
  width: 321px;
}

.ent-pendient-contact .group-394-cedfd4 {
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 240px;
}

.ent-pendient-contact .mask-group-bYYRPx {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 50px;
}

.ent-pendient-contact .ana-paredes-bYYRPx {
  background-color: transparent;
  height: 25px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 163px;
}

.ent-pendient-contact .le-debes-45000-bYYRPx {
  background-color: transparent;
  height: 22px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: 163px;
}

.ent-pendient-contact .group-348-cedfd4 {
  background-color: transparent;
  height: 24px;
  left: 316px;
  position: absolute;
  top: 13px;
  width: 4px;
}

.ent-pendient-contact .ellipse-24-6sxeIl {
  background-color: var(--osc-intermedio);
  border-radius: 2.02px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.ent-pendient-contact .ellipse-25-6sxeIl {
  background-color: var(--osc-intermedio);
  border-radius: 2.02px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 4px;
}

.ent-pendient-contact .ellipse-26-6sxeIl {
  background-color: var(--osc-intermedio);
  border-radius: 2.02px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 20px;
  width: 4px;
}

.ent-pendient-contact .group-2149-9lPyFQ {
  background-color: transparent;
  height: 50px;
  left: -0px;
  position: absolute;
  top: 182px;
  width: 325px;
}

.ent-pendient-contact .daniel-patio-xNBuTS {
  background-color: transparent;
  height: 25px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .le-debes-30000-xNBuTS {
  background-color: transparent;
  height: 22px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .mask-group-xNBuTS {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 50px;
}

.ent-pendient-contact .group-347-xNBuTS {
  background-color: transparent;
  height: 24px;
  left: 316px;
  position: absolute;
  top: 13px;
  width: 4px;
}

.ent-pendient-contact .ellipse-24-K1oUMi {
  background-color: var(--osc-intermedio);
  border-radius: 2.02px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.ent-pendient-contact .ellipse-25-K1oUMi {
  background-color: var(--osc-intermedio);
  border-radius: 2.02px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 4px;
}

.ent-pendient-contact .ellipse-26-K1oUMi {
  background-color: var(--osc-intermedio);
  border-radius: 2.02px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 20px;
  width: 4px;
}

.ent-pendient-contact .group-2148-9lPyFQ {
  background-color: transparent;
  height: 50px;
  left: -0px;
  position: absolute;
  top: 95px;
  width: 325px;
}

.ent-pendient-contact .camila-bernal-txaBAz {
  background-color: transparent;
  height: 25px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .le-debes-45000-txaBAz {
  background-color: transparent;
  height: 22px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .mask-group-txaBAz {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 50px;
}

.ent-pendient-contact .group-395-txaBAz {
  background-color: transparent;
  height: 24px;
  left: 316px;
  position: absolute;
  top: 13px;
  width: 4px;
}

.ent-pendient-contact .ellipse-24-ey18YO {
  background-color: var(--osc-intermedio);
  border-radius: 2.02px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.ent-pendient-contact .ellipse-25-ey18YO {
  background-color: var(--osc-intermedio);
  border-radius: 2.02px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 4px;
}

.ent-pendient-contact .ellipse-26-ey18YO {
  background-color: var(--osc-intermedio);
  border-radius: 2.02px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 20px;
  width: 4px;
}

.ent-pendient-contact .group-2150-9lPyFQ {
  background-color: transparent;
  height: 50px;
  left: -0px;
  position: absolute;
  top: 268px;
  width: 325px;
}

.ent-pendient-contact .mask-group-aFUN2T {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 50px;
}

.ent-pendient-contact .eliza-rodriguez-aFUN2T {
  background-color: transparent;
  height: 25px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .le-debes-65000-aFUN2T {
  background-color: transparent;
  height: 22px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .vector-aFUN2T {
  background-color: transparent;
  height: 24px;
  left: 316px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 4px;
}

.ent-pendient-contact .group-2153-9lPyFQ {
  background-color: transparent;
  height: 50px;
  left: -0px;
  position: absolute;
  top: 355px;
  width: 325px;
}

.ent-pendient-contact .mask-group-2obd8L {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 50px;
}

.ent-pendient-contact .emiliano-castro-2obd8L {
  background-color: transparent;
  height: 25px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .le-debes-45000-2obd8L {
  background-color: transparent;
  height: 22px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .vector-2obd8L {
  background-color: transparent;
  height: 24px;
  left: 316px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 4px;
}

.ent-pendient-contact .group-2151-9lPyFQ {
  background-color: transparent;
  height: 50px;
  left: -0px;
  position: absolute;
  top: 442px;
  width: 325px;
}

.ent-pendient-contact .mask-group-cb532v {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 50px;
}

.ent-pendient-contact .manuela-naranjo-cb532v {
  background-color: transparent;
  height: 25px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .le-debes-45000-cb532v {
  background-color: transparent;
  height: 22px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .vector-cb532v {
  background-color: transparent;
  height: 24px;
  left: 316px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 4px;
}

.ent-pendient-contact .group-2152-9lPyFQ {
  background-color: transparent;
  height: 50px;
  left: -0px;
  position: absolute;
  top: 528px;
  width: 325px;
}

.ent-pendient-contact .mask-group-yPgcyl {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 50px;
}

.ent-pendient-contact .oscar-muoz-yPgcyl {
  background-color: transparent;
  height: 25px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .le-debes-45000-yPgcyl {
  background-color: transparent;
  height: 22px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: 224px;
}

.ent-pendient-contact .vector-yPgcyl {
  background-color: transparent;
  height: 24px;
  left: 316px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 4px;
}

.ent-pendient-contact .rectangle-1455-i1sdsF {
  background-color: var(--white);
  height: 121px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 72px;
  width: 390px;
}

.ent-pendient-contact .pagos-pendientes-i1sdsF {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: auto;
}

.ent-pendient-contact .vector-i1sdsF {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 108px;
  width: 9px;
}

.ent-pendient-contact .rectangle-8-i1sdsF {
  background-color: transparent;
  height: 72px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-pendient-contact .status-bar-i-phone-13-13-pro-i1sdsF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-pendient-contact .indicators-m7Sp9p {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-pendient-contact .elements-signal-uicUxq {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-pendient-contact .cellular-connection-Z394qG {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-pendient-contact .elements-connection-uicUxq {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-pendient-contact .wifi-xa8AMN {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-pendient-contact .elements-battery-uicUxq {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-pendient-contact .border-AlClLe {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-pendient-contact .cap-AlClLe {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-pendient-contact .capacity-AlClLe {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-pendient-contact .mic-cam-m7Sp9p {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-pendient-contact .elements-time-m7Sp9p {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-pendient-contact .time-MWxLR5 {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-pendient-contact .tus-empleados-son-i1sdsF {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 161px;
  width: 331px;
}

.ent-pendient-contact .nav-emprendimiento-i1sdsF {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ent-pendient-contact .rectangle-1463-W4xEa1 {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-pendient-contact .union-W4xEa1 {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-pendient-contact .union-EQhxoH {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-pendient-contact .union-Uqm8vV {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-pendient-contact .union-fmQ64N {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}
