/* screen - ent-save-withdraw-3 */

.ent-save-withdraw-3 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-save-withdraw-3 .retirar-mi-dinero-BtycNx {
  background-color: transparent;
  height: auto;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: auto;
}

.ent-save-withdraw-3 .vector-BtycNx {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 108px;
  width: 9px;
}

.ent-save-withdraw-3 .image-41-BtycNx {
  background-color: transparent;
  height: 72px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-save-withdraw-3 .status-bar-i-phone-13-13-pro-BtycNx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-save-withdraw-3 .indicators-RxFpKQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-save-withdraw-3 .elements-signal-28qTkU {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-save-withdraw-3 .cellular-connection-rT7wym {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-save-withdraw-3 .elements-connection-28qTkU {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-save-withdraw-3 .wifi-edJdva {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-save-withdraw-3 .elements-battery-28qTkU {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-save-withdraw-3 .border-FymKks {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-save-withdraw-3 .cap-FymKks {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-save-withdraw-3 .capacity-FymKks {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-save-withdraw-3 .mic-cam-RxFpKQ {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-save-withdraw-3 .elements-time-RxFpKQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-save-withdraw-3 .time-7udhHi {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-save-withdraw-3 .a-dnde-quieres-enviar-tu-dinero-BtycNx {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 161px;
  width: 331px;
}

.ent-save-withdraw-3 .nav-emprendimiento-BtycNx {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ent-save-withdraw-3 .rectangle-1463-CvzpDC {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-save-withdraw-3 .union-CvzpDC {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-save-withdraw-3 .union-odQtY9 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-save-withdraw-3 .union-qJl0yn {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-save-withdraw-3 .union-w3Q7g3 {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ent-save-withdraw-3 .group-357-BtycNx {
  background-color: transparent;
  height: 98px;
  left: 160px;
  position: absolute;
  top: 248px;
  width: 70px;
}

.ent-save-withdraw-3 .disponible-200000-EqxoyB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  width: 68px;
}

.ent-save-withdraw-3 .span0-8o949y {
}

.ent-save-withdraw-3 .span1-8o949y {
}

.ent-save-withdraw-3 .rectangle-1415-EqxoyB {
  background-color: transparent;
  border-radius: 2px;
  height: 37px;
  left: 8px;
  position: absolute;
  top: -2px;
  width: 54px;
}

.ent-save-withdraw-3 .vector-136-EqxoyB {
  background-color: transparent;
  height: 2px;
  left: 9px;
  position: absolute;
  top: 38px;
  width: 51px;
}

.ent-save-withdraw-3 .vector-137-EqxoyB {
  background-color: transparent;
  height: 2px;
  left: 13px;
  position: absolute;
  top: 42px;
  width: 44px;
}

.ent-save-withdraw-3 .group-352-EqxoyB {
  background-color: transparent;
  height: 17px;
  left: 27px;
  position: absolute;
  top: 8px;
  width: 17px;
}

.ent-save-withdraw-3 .ellipse-93-bLZPws {
  background-color: transparent;
  border-radius: 8.33px;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.ent-save-withdraw-3 .union-bLZPws {
  background-color: transparent;
  height: 11px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 5px;
}

.ent-save-withdraw-3 .check-BtycNx {
  background-color: transparent;
  height: 12px;
  left: 222px;
  position: absolute;
  top: 234px;
  width: 12px;
}

.ent-save-withdraw-3 .ellipse-103-GnxCMm {
  background-color: var(--cielo-osc);
  border-radius: 6px;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 12px;
}

.ent-save-withdraw-3 .check-GnxCMm {
  background-color: transparent;
  height: 5px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.ent-save-withdraw-3 .group-2125-BtycNx {
  background-color: transparent;
  height: 100px;
  left: 51px;
  position: absolute;
  top: 246px;
  width: 70px;
}

.ent-save-withdraw-3 .bolsillos-300000-FdN7pe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 66px;
  width: 68px;
}

.ent-save-withdraw-3 .span0-p3HfbV {
}

.ent-save-withdraw-3 .span1-p3HfbV {
}

.ent-save-withdraw-3 .rectangle-1416-FdN7pe {
  background-color: transparent;
  height: 48px;
  left: 13px;
  position: absolute;
  top: -0px;
  width: 39px;
}

.ent-save-withdraw-3 .rectangle-1417-FdN7pe {
  background-color: transparent;
  border-radius: 2px 2px 10px 10px;
  height: 16px;
  left: 14px;
  position: absolute;
  top: 0px;
  width: 39px;
}

.ent-save-withdraw-3 .ellipse-104-FdN7pe {
  background-color: var(--cielo-claro);
  border-radius: 3.5px;
  height: 7px;
  left: 30px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 7px;
}

.ent-save-withdraw-3 .heart-FdN7pe {
  background-color: transparent;
  height: 17px;
  left: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 22px;
  width: 18px;
}

.ent-save-withdraw-3 .group-293-BtycNx {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 18px;
  position: absolute;
  top: 714px;
  width: 354px;
}

.ent-save-withdraw-3 .rectangle-6-OWPQZB {
  background-color: transparent;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 354px;
}

.ent-save-withdraw-3 .group-313-OWPQZB {
  background-color: transparent;
  height: 14px;
  left: 123px;
  position: absolute;
  top: 10px;
  width: 123px;
}

.ent-save-withdraw-3 .confirmar-retiro-WCqzRJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 121px;
}
