/* screen - ent-collection-ready */

.ent-collection-ready {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-collection-ready .frame-108-iV4e8E::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ent-collection-ready .frame-108-iV4e8E {
  background-color: transparent;
  height: 381px;
  left: -0px;
  mix-blend-mode: normal;
  overflow-y: scroll;
  position: absolute;
  top: 376px;
  width: 390px;
}

.ent-collection-ready .plus-6qhhfK {
  background-color: transparent;
  height: 83px;
  left: 28px;
  position: absolute;
  top: 17px;
  width: 83px;
}

.ent-collection-ready .plus-AhjIpA {
  background-color: transparent;
  height: 24px;
  left: 29px;
  position: absolute;
  top: 29px;
  width: 24px;
}

.ent-collection-ready .rectangle-1338-AhjIpA {
  background-color: transparent;
  border-radius: 13px;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 83px;
}

.ent-collection-ready .plus-mQetEi {
  background-color: transparent;
  height: 83px;
  left: 28px;
  position: absolute;
  top: 129px;
  width: 83px;
}

.ent-collection-ready .plus-VJENhW {
  background-color: transparent;
  height: 24px;
  left: 29px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.ent-collection-ready .rectangle-1338-VJENhW {
  background-color: transparent;
  border-radius: 13px;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 83px;
}

.ent-collection-ready .aadir-un-artculo-nuevo-6qhhfK {
  background-color: transparent;
  height: 25px;
  left: 129px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 224px;
}

.ent-collection-ready .aadir-una-coleccin-nueva-6qhhfK {
  background-color: transparent;
  height: 25px;
  left: 129px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 157px;
  white-space: nowrap;
  width: 224px;
}

.ent-collection-ready .group-281-6qhhfK {
  background-color: transparent;
  height: 83px;
  left: 28px;
  position: absolute;
  top: 365px;
  width: 329px;
}

.ent-collection-ready .conjunto-army-LJxsJG {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 224px;
}

.ent-collection-ready .cop-135000-LJxsJG {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 224px;
}

.ent-collection-ready .rectangle-1339-LJxsJG {
  background-color: transparent;
  height: 83px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 83px;
}

.ent-collection-ready .golden-set-6qhhfK {
  background-color: transparent;
  height: 83px;
  left: 28px;
  position: absolute;
  top: 247px;
  width: 329px;
}

.ent-collection-ready .golden-set-VZsM7I {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 224px;
}

.ent-collection-ready .artculos-3-VZsM7I {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 224px;
}

.ent-collection-ready .rectangle-1337-VZsM7I {
  background-color: transparent;
  height: 83px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 83px;
}

.ent-collection-ready .line-6-6qhhfK {
  background-color: transparent;
  height: 1px;
  left: 28px;
  position: absolute;
  top: 344px;
  width: 334px;
}

.ent-collection-ready .line-7-6qhhfK {
  background-color: transparent;
  height: 1px;
  left: 28px;
  position: absolute;
  top: 231px;
  width: 334px;
}

.ent-collection-ready .group-272-iV4e8E {
  background-color: transparent;
  height: 237px;
  left: -12px;
  position: absolute;
  top: 106px;
  width: 414px;
}

.ent-collection-ready .rectangle-31-KyoZHB {
  background-color: transparent;
  height: 237px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-collection-ready .rectangle-1337-KyoZHB {
  background-color: var(--osc-intermedio);
  height: 237px;
  left: 12px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-collection-ready .status-bar-i-phone-13-13-pro-iV4e8E {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-collection-ready .indicators-aQePPE {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-collection-ready .elements-signal-EO0JRy {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-collection-ready .cellular-connection-xa5WVu {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-collection-ready .elements-connection-EO0JRy {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-collection-ready .wifi-glklzl {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-collection-ready .elements-battery-EO0JRy {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-collection-ready .border-x2qUw8 {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-collection-ready .cap-x2qUw8 {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-collection-ready .capacity-x2qUw8 {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-collection-ready .mic-cam-aQePPE {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-collection-ready .elements-time-aQePPE {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-collection-ready .time-q3hjTY {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-collection-ready .admin-de-catlogo-iV4e8E {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}

.ent-collection-ready .vector-iV4e8E {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 52px;
  width: 9px;
}

.ent-collection-ready .nav-emprendimiento-iV4e8E {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ent-collection-ready .rectangle-1463-dYJQrx {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-collection-ready .union-dYJQrx {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-collection-ready .union-ecX8xu {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-collection-ready .union-pkuxyx {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-collection-ready .union-LTYnbl {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ent-collection-ready .somos-una-empresa-su-iV4e8E {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 240px;
  width: 303px;
}

.ent-collection-ready .blink-custom-jewels-iV4e8E {
  background-color: transparent;
  height: auto;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 210px;
  white-space: nowrap;
  width: 257px;
}
