/* screen - ent-profile-proyects */

.ent-profile-proyects {
  background-color: var(--white);
  height: 843px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-profile-proyects .rectangle-8-vuzyTj {
  background-color: transparent;
  height: 72px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-profile-proyects .emprendedor-arreglado-vuzyTj {
  background-color: transparent;
  height: 48px;
  left: 3px;
  position: absolute;
  top: 364px;
  width: 390px;
}

.ent-profile-proyects .vector-7-MSEGbF {
  background-color: transparent;
  height: 1px;
  left: 2px;
  position: absolute;
  top: -1px;
  width: 387px;
}

.ent-profile-proyects .rectangle-1336-MSEGbF {
  background-color: var(--white);
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-profile-proyects .group-1977-MSEGbF {
  background-color: transparent;
  height: 36px;
  left: 59px;
  position: absolute;
  top: 6px;
  width: 35px;
}

.ent-profile-proyects .iconly-bold-category-k52OVt {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 23px;
}

.ent-profile-proyects .category-xMXDmT {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.ent-profile-proyects .category-LOyFGC {
  background-color: transparent;
  height: 20px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 19px;
}

.ent-profile-proyects .subido-k52OVt {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.ent-profile-proyects .group-1978-MSEGbF {
  background-color: transparent;
  height: 36px;
  left: 124px;
  position: absolute;
  top: 6px;
  width: 54px;
}

.ent-profile-proyects .vector-FIniwf {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 16px;
  position: absolute;
  top: -0px;
  width: 21px;
}

.ent-profile-proyects .feedbacks-FIniwf {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.ent-profile-proyects .group-1980-MSEGbF {
  background-color: transparent;
  height: 36px;
  left: 288px;
  position: absolute;
  top: 6px;
  width: 45px;
}

.ent-profile-proyects .icon-J3Iewc {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 24px;
}

.ent-profile-proyects .catalogo-J3Iewc {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.ent-profile-proyects .group-1979-MSEGbF {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 208px;
  position: absolute;
  top: 6px;
  width: 50px;
}

.ent-profile-proyects .icon-AmVups {
  background-color: transparent;
  height: 23px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 18px;
}

.ent-profile-proyects .proyectos-AmVups {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}

.ent-profile-proyects .status-bar-i-phone-13-13-pro-vuzyTj {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-profile-proyects .indicators-eCov91 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-profile-proyects .elements-signal-5hxfBk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-profile-proyects .cellular-connection-bkpp9i {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-profile-proyects .elements-connection-5hxfBk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-profile-proyects .wifi-kftRMU {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-profile-proyects .elements-battery-5hxfBk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-profile-proyects .border-xGLydH {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-profile-proyects .cap-xGLydH {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-profile-proyects .capacity-xGLydH {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-profile-proyects .mic-cam-eCov91 {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-profile-proyects .elements-time-eCov91 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-profile-proyects .time-WukUrR {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-profile-proyects .frame-94-vuzyTj::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ent-profile-proyects .frame-94-vuzyTj {
  background-color: transparent;
  height: 348px;
  left: 0px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 421px;
  width: 390px;
}

.ent-profile-proyects .proyectos-actuales-3mAPxs {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.ent-profile-proyects .proyectos-completados-3mAPxs {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 251px;
  width: auto;
}

.ent-profile-proyects .group-2103-3mAPxs {
  background-color: transparent;
  height: 196px;
  left: 23px;
  position: absolute;
  top: 42px;
  width: 350px;
}

.ent-profile-proyects .rectangle-1379-0QCYyu {
  background-color: transparent;
  height: 196px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 344px;
}

.ent-profile-proyects .cajas-para-empaque-0QCYyu {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 112px;
  width: auto;
}

.ent-profile-proyects .x80-completado-0QCYyu {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 134px;
  width: auto;
}

.ent-profile-proyects .caotico-0QCYyu {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 164px;
  white-space: nowrap;
  width: 257px;
}

.ent-profile-proyects .rectangle-1380-0QCYyu {
  background-color: var(--white);
  border-radius: 4px;
  height: 5px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 154px;
  width: 306px;
}

.ent-profile-proyects .rectangle-1381-0QCYyu {
  background-color: var(--rosa-claro);
  border-radius: 4px;
  height: 5px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 154px;
  width: 257px;
}

.ent-profile-proyects .group-2102-3mAPxs {
  background-color: transparent;
  height: 196px;
  left: 25px;
  position: absolute;
  top: 283px;
  width: 350px;
}

.ent-profile-proyects .rectangle-1383-LMwWb7 {
  background-color: transparent;
  height: 65px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 344px;
}

.ent-profile-proyects .para-la-nueva-coleccin-LMwWb7 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 112px;
  width: auto;
}

.ent-profile-proyects .x100-completado-LMwWb7 {
  background-color: transparent;
  color: var(--orange);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 134px;
  width: auto;
}

.ent-profile-proyects .rectangle-1384-LMwWb7 {
  background-color: var(--orange);
  border-radius: 4px;
  height: 5px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 154px;
  width: 311px;
}

.ent-profile-proyects .caotico-LMwWb7 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 164px;
  white-space: nowrap;
  width: 257px;
}

.ent-profile-proyects .group-319-3mAPxs {
  background-color: transparent;
  height: 23px;
  left: 257px;
  position: absolute;
  top: 60px;
  width: 94px;
}

.ent-profile-proyects .rectangle-6-juH3x0 {
  background-color: var(--cielo);
  border-radius: 4.16px;
  height: 23px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 94px;
}

.ent-profile-proyects .enviar-juH3x0 {
  background-color: transparent;
  height: 23px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 81px;
}

.ent-profile-proyects .nav-emprendimiento-vuzyTj {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ent-profile-proyects .rectangle-1463-93PCrT {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-profile-proyects .union-93PCrT {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-profile-proyects .union-tYdluE {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-profile-proyects .union-lyDXMx {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-profile-proyects .union-VQfHx3 {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ent-profile-proyects .group-266-vuzyTj {
  background-color: transparent;
  height: 38px;
  left: 331px;
  position: absolute;
  top: 306px;
  width: 42px;
}

.ent-profile-proyects .iconly-bold-setting-8BPha0 {
  background-color: transparent;
  height: 24px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 24px;
}

.ent-profile-proyects .setting-zVOTRz {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.ent-profile-proyects .setting-Uazfrc {
  background-color: transparent;
  height: 20px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.ent-profile-proyects .rectangle-1327-8BPha0 {
  background-color: transparent;
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}

.ent-profile-proyects .editar-vuzyTj {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 179px;
  position: absolute;
  top: 306px;
  width: 145px;
}

.ent-profile-proyects .rectangle-1457-5QSgjo {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.ent-profile-proyects .editar-catlogo-5QSgjo {
  background-color: transparent;
  height: 38px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 145px;
}

.ent-profile-proyects .group-261-vuzyTj {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 27px;
  position: absolute;
  top: 306px;
  width: 145px;
}

.ent-profile-proyects .rectangle-6-Q0nWRM {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.ent-profile-proyects .enviar-Q0nWRM {
  background-color: transparent;
  height: 38px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 125px;
}

.ent-profile-proyects .siguiendo-vuzyTj {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  width: auto;
}

.ent-profile-proyects .x29-emprendimientos-vuzyTj {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 282px;
  width: auto;
}

.ent-profile-proyects .span0-3LlG6x {
}

.ent-profile-proyects .span1-3LlG6x {
}

.ent-profile-proyects .rectangle-16-vuzyTj {
  background-color: transparent;
  height: 76px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 97px;
  width: 76px;
}

.ent-profile-proyects .rectangle-18-vuzyTj {
  background-color: var(--amarillo);
  border-radius: 45.29px;
  height: 25px;
  left: 81px;
  mix-blend-mode: normal;
  position: absolute;
  top: 149px;
  width: 25px;
}

.ent-profile-proyects .blink-custom-jewels-vuzyTj {
  background-color: transparent;
  height: auto;
  left: 124px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 98px;
  width: auto;
}

.ent-profile-proyects .blinkcustomjewels-vuzyTj {
  background-color: transparent;
  height: auto;
  left: 124px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 120px;
  width: auto;
}

.ent-profile-proyects .cali-colombia-somos-vuzyTj {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  position: absolute;
  text-align: left;
  top: 198px;
  width: 328px;
}

.ent-profile-proyects .span0-yL8k0l {
}

.ent-profile-proyects .span1-yL8k0l {
}

.ent-profile-proyects .iconly-bold-location-vuzyTj {
  background-color: transparent;
  height: 16px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 199px;
  width: 15px;
}

.ent-profile-proyects .location-DWo0x0 {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.ent-profile-proyects .location-YyXnKm {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.ent-profile-proyects .group-269-vuzyTj {
  background-color: transparent;
  height: 20px;
  left: 124px;
  position: absolute;
  top: 163px;
  width: 63px;
}

.ent-profile-proyects .rectangle-6-1Pc6sH {
  background-color: var(--amarillo);
  border-radius: 7px;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 63px;
}

.ent-profile-proyects .enviar-1Pc6sH {
  background-color: transparent;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 54px;
}

.ent-profile-proyects .x233-seguidores-vuzyTj {
  background-color: transparent;
  height: auto;
  left: 124px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 140px;
  width: auto;
}

.ent-profile-proyects .span0-hpJ3Wb {
}

.ent-profile-proyects .span1-hpJ3Wb {
}

.ent-profile-proyects .star-1-vuzyTj {
  background-color: transparent;
  height: 12px;
  left: 87px;
  mix-blend-mode: normal;
  position: absolute;
  top: 155px;
  width: 13px;
}

.ent-profile-proyects .group-268-vuzyTj {
  background-color: transparent;
  height: 11px;
  left: 124px;
  position: absolute;
  top: 85px;
  width: 95px;
}

.ent-profile-proyects .usuario-verificado-nIVgMo {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.ent-profile-proyects .group-267-nIVgMo {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.ent-profile-proyects .subtract-Y9xHYz {
  background-color: transparent;
  height: 9px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 9px;
}
