/* screen - ent-save-withdraw-2 */

.ent-save-withdraw-2 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-save-withdraw-2 .image-41-Ff3QND {
  background-color: transparent;
  height: 72px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-save-withdraw-2 .retirar-mi-dinero-Ff3QND {
  background-color: transparent;
  height: auto;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: auto;
}

.ent-save-withdraw-2 .vector-Ff3QND {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 108px;
  width: 9px;
}

.ent-save-withdraw-2 .status-bar-i-phone-13-13-pro-Ff3QND {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-save-withdraw-2 .indicators-V3kPQH {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-save-withdraw-2 .elements-signal-xZZ8xi {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-save-withdraw-2 .cellular-connection-YhxfwW {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-save-withdraw-2 .elements-connection-xZZ8xi {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-save-withdraw-2 .wifi-JOxbWD {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-save-withdraw-2 .elements-battery-xZZ8xi {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-save-withdraw-2 .border-Oi8tZx {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-save-withdraw-2 .cap-Oi8tZx {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-save-withdraw-2 .capacity-Oi8tZx {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-save-withdraw-2 .mic-cam-V3kPQH {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-save-withdraw-2 .elements-time-V3kPQH {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-save-withdraw-2 .time-fNZxQh {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-save-withdraw-2 .a-dnde-quieres-enviar-tu-dinero-Ff3QND {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 161px;
  width: 331px;
}

.ent-save-withdraw-2 .nav-emprendimiento-Ff3QND {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ent-save-withdraw-2 .rectangle-1463-W6Phe9 {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-save-withdraw-2 .union-W6Phe9 {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-save-withdraw-2 .union-m6KdU7 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-save-withdraw-2 .union-ERx21i {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-save-withdraw-2 .union-HRNQ9v {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ent-save-withdraw-2 .group-357-Ff3QND {
  background-color: transparent;
  cursor: pointer;
  height: 98px;
  left: 160px;
  position: absolute;
  top: 248px;
  width: 70px;
}

.ent-save-withdraw-2 .disponible-200000-BzZYSA {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  width: 68px;
}

.ent-save-withdraw-2 .span0-vxyhyX {
}

.ent-save-withdraw-2 .span1-vxyhyX {
}

.ent-save-withdraw-2 .rectangle-1415-BzZYSA {
  background-color: transparent;
  border-radius: 2px;
  height: 37px;
  left: 8px;
  position: absolute;
  top: -2px;
  width: 54px;
}

.ent-save-withdraw-2 .vector-136-BzZYSA {
  background-color: transparent;
  height: 2px;
  left: 9px;
  position: absolute;
  top: 38px;
  width: 51px;
}

.ent-save-withdraw-2 .vector-137-BzZYSA {
  background-color: transparent;
  height: 2px;
  left: 13px;
  position: absolute;
  top: 42px;
  width: 44px;
}

.ent-save-withdraw-2 .group-352-BzZYSA {
  background-color: transparent;
  height: 17px;
  left: 27px;
  position: absolute;
  top: 8px;
  width: 17px;
}

.ent-save-withdraw-2 .ellipse-93-8mkdlb {
  background-color: transparent;
  border-radius: 8.33px;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.ent-save-withdraw-2 .union-8mkdlb {
  background-color: transparent;
  height: 11px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 5px;
}

.ent-save-withdraw-2 .group-2124-Ff3QND {
  background-color: transparent;
  height: 100px;
  left: 51px;
  position: absolute;
  top: 246px;
  width: 70px;
}

.ent-save-withdraw-2 .bolsillos-300000-3C5AhT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 66px;
  width: 68px;
}

.ent-save-withdraw-2 .span0-jw0dY4 {
}

.ent-save-withdraw-2 .span1-jw0dY4 {
}

.ent-save-withdraw-2 .rectangle-1416-3C5AhT {
  background-color: transparent;
  height: 48px;
  left: 13px;
  position: absolute;
  top: -0px;
  width: 39px;
}

.ent-save-withdraw-2 .rectangle-1417-3C5AhT {
  background-color: transparent;
  border-radius: 2px 2px 10px 10px;
  height: 16px;
  left: 14px;
  position: absolute;
  top: 0px;
  width: 39px;
}

.ent-save-withdraw-2 .ellipse-104-3C5AhT {
  background-color: var(--cielo-claro);
  border-radius: 3.5px;
  height: 7px;
  left: 30px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 7px;
}

.ent-save-withdraw-2 .heart-3C5AhT {
  background-color: transparent;
  height: 17px;
  left: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 22px;
  width: 18px;
}
