/* screen - ent-create-proyect2 */

.ent-create-proyect2 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-create-proyect2 .status-bar-i-phone-13-13-pro-GyATYG {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-create-proyect2 .indicators-LGIcDu {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-create-proyect2 .elements-signal-s2PPuC {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-create-proyect2 .cellular-connection-bqumEo {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-create-proyect2 .elements-connection-s2PPuC {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-create-proyect2 .wifi-C3iGL5 {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-create-proyect2 .elements-battery-s2PPuC {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-create-proyect2 .border-ml661B {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-create-proyect2 .cap-ml661B {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-create-proyect2 .capacity-ml661B {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-create-proyect2 .mic-cam-LGIcDu {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-create-proyect2 .elements-time-LGIcDu {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-create-proyect2 .time-fkx6Dk {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-create-proyect2 .proyectos-GyATYG {
  background-color: transparent;
  height: auto;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}

.ent-create-proyect2 .crea-un-proyecto-nuevo-GyATYG {
  background-color: transparent;
  height: auto;
  left: 89px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 97px;
  width: auto;
}

.ent-create-proyect2 .tus-proyectos-activos-GyATYG {
  background-color: transparent;
  height: auto;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 246px;
  width: auto;
}

.ent-create-proyect2 .vector-GyATYG {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 52px;
  width: 9px;
}

.ent-create-proyect2 .plus-GyATYG {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 70px;
  position: absolute;
  top: 156px;
  width: 45px;
}

.ent-create-proyect2 .rectangle-1338-QmDy7H {
  background-color: var(--cielo);
  border: 2.0px solid var(--azul);
  border-radius: 7px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 45px;
}

.ent-create-proyect2 .plus-QmDy7H {
  background-color: transparent;
  height: 13px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 13px;
}

.ent-create-proyect2 .iniciar-nuevo-proyecto-GyATYG {
  background-color: transparent;
  height: 25px;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 165px;
  white-space: nowrap;
  width: 155px;
}

.ent-create-proyect2 .nav-emprendimiento-GyATYG {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ent-create-proyect2 .rectangle-1463-eYFTol {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-create-proyect2 .union-eYFTol {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-create-proyect2 .union-bgqimL {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-create-proyect2 .union-l5ekmX {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-create-proyect2 .union-kT4pQt {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ent-create-proyect2 .image-25-GyATYG {
  background-color: transparent;
  height: 196px;
  left: 28px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 288px;
  width: 344px;
}

.ent-create-proyect2 .rectangle-1382-GyATYG {
  background-color: transparent;
  cursor: pointer;
  height: 196px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 288px;
  width: 344px;
}

.ent-create-proyect2 .stand-en-va-para-emprendedores-GyATYG {
  background-color: transparent;
  height: auto;
  left: 45px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 399px;
  width: auto;
}

.ent-create-proyect2 .x50-completado-GyATYG {
  background-color: transparent;
  height: auto;
  left: 45px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 421px;
  width: auto;
}

.ent-create-proyect2 .rectangle-1377-GyATYG {
  background-color: var(--white);
  border-radius: 4px;
  height: 5px;
  left: 50px;
  mix-blend-mode: normal;
  position: absolute;
  top: 442px;
  width: 306px;
}

.ent-create-proyect2 .rectangle-1378-GyATYG {
  background-color: var(--rosa-claro);
  border-radius: 4px;
  height: 5px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 442px;
  width: 149px;
}

.ent-create-proyect2 .editar-GyATYG {
  background-color: transparent;
  height: auto;
  left: 322px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 452px;
  width: auto;
}

.ent-create-proyect2 .caotico-GyATYG {
  background-color: transparent;
  height: auto;
  left: 45px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 451px;
  white-space: nowrap;
  width: 167px;
}
