/* screen - ent-credit-overlay */

.ent-credit-overlay {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-credit-overlay .rectangle-8-ojqCrM {
  background-color: transparent;
  height: 72px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-credit-overlay .status-bar-i-phone-13-13-pro-ojqCrM {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-credit-overlay .indicators-d4GKQt {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-credit-overlay .elements-signal-8zhxXd {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-credit-overlay .cellular-connection-Aqa05x {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-credit-overlay .elements-connection-8zhxXd {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-credit-overlay .wifi-yYj2gq {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-credit-overlay .elements-battery-8zhxXd {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-credit-overlay .border-7PgLGm {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-credit-overlay .cap-7PgLGm {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-credit-overlay .capacity-7PgLGm {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-credit-overlay .mic-cam-d4GKQt {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-credit-overlay .elements-time-d4GKQt {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-credit-overlay .time-IrIApE {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-credit-overlay .mi-crdito-ojqCrM {
  background-color: transparent;
  color: var(--text);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 88px;
  width: auto;
}

.ent-credit-overlay .monto-a-solicitar-ojqCrM {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 167px;
  width: auto;
}

.ent-credit-overlay .cuotas-a-pagar-ojqCrM {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: auto;
}

.ent-credit-overlay .intereses-a-pagar-ojqCrM {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: auto;
}

.ent-credit-overlay .rectangle-1400-ojqCrM {
  background-color: transparent;
  border-radius: 6px;
  height: 38px;
  left: 26px;
  position: absolute;
  top: 200px;
  width: 338px;
}

.ent-credit-overlay .sabe-usted-que-cada-ojqCrM {
  background-color: transparent;
  height: 29px;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 618px;
  width: 306px;
}

.ent-credit-overlay .rectangle-1381-ojqCrM {
  background-color: var(--white);
  border-radius: 3px;
  height: 16px;
  left: 28px;
  mix-blend-mode: normal;
  position: absolute;
  top: 576px;
  width: 16px;
}

.ent-credit-overlay .rectangle-1404-ojqCrM {
  background-color: var(--white);
  border-radius: 3px;
  height: 16px;
  left: 28px;
  mix-blend-mode: normal;
  position: absolute;
  top: 619px;
  width: 16px;
}

.ent-credit-overlay .group-261-ojqCrM {
  background-color: transparent;
  height: 38px;
  left: 27px;
  position: absolute;
  top: 682px;
  width: 337px;
}

.ent-credit-overlay .rectangle-6-jTxDvY {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 337px;
}

.ent-credit-overlay .enviar-jTxDvY {
  background-color: transparent;
  height: 38px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 292px;
}

.ent-credit-overlay .fondo-ojqCrM {
  background-color: transparent;
  height: 844px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-credit-overlay .group-287-ojqCrM {
  background-color: transparent;
  height: 428px;
  left: 29px;
  position: absolute;
  top: 208px;
  width: 333px;
}

.ent-credit-overlay .group-102-WjVSia {
  background-color: transparent;
  height: 428px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}

.ent-credit-overlay .rectangle-1325-PxmDEc {
  background-color: var(--hint-of-red);
  border-radius: 10px;
  height: 428px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 333px;
}

.ent-credit-overlay .group-101-PxmDEc {
  background-color: transparent;
  height: 181px;
  left: 36px;
  position: absolute;
  top: 195px;
  width: 264px;
}

.ent-credit-overlay .felicitaciones-1Fxk3r {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 239px;
}

.ent-credit-overlay .tu-crdito-acaba-de-s-1Fxk3r {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 49px;
  width: 260px;
}

.ent-credit-overlay .span0-BKTR2x {
}

.ent-credit-overlay .span1-BKTR2x {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.ent-credit-overlay .group-100-1Fxk3r {
  background-color: transparent;
  height: 50px;
  left: 52px;
  position: absolute;
  top: 131px;
  width: 158px;
}

.ent-credit-overlay .rectangle-1324-LN29mL {
  background-color: var(--cielo);
  border-radius: 7.5px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  height: 50px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 156px;
}

.ent-credit-overlay .regresar-LN29mL {
  background-color: transparent;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 61px;
}

.ent-credit-overlay .rectangle-16-WjVSia {
  background-color: transparent;
  height: 123px;
  left: 105px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 123px;
}
