/* screen - ent-create-proyect-1 */

.ent-create-proyect-1 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-create-proyect-1 .status-bar-i-phone-13-13-pro-vZnzTY {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-create-proyect-1 .indicators-DYVTdk {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-create-proyect-1 .elements-signal-aK5bLs {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-create-proyect-1 .cellular-connection-7NW1xF {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-create-proyect-1 .elements-connection-aK5bLs {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-create-proyect-1 .wifi-W4PaNy {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-create-proyect-1 .elements-battery-aK5bLs {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-create-proyect-1 .border-VnAlNr {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-create-proyect-1 .cap-VnAlNr {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-create-proyect-1 .capacity-VnAlNr {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-create-proyect-1 .mic-cam-DYVTdk {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-create-proyect-1 .elements-time-DYVTdk {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-create-proyect-1 .time-hNbt6r {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-create-proyect-1 .proyectos-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}

.ent-create-proyect-1 .paso-1-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 166px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 97px;
  width: auto;
}

.ent-create-proyect-1 .vector-vZnzTY {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 52px;
  width: 9px;
}

.ent-create-proyect-1 .rectangle-30-vZnzTY {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 37px;
  left: 57px;
  mix-blend-mode: normal;
  position: absolute;
  top: 185px;
  width: 275px;
}

.ent-create-proyect-1 .ttulo-del-proyecto-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: 275px;
}

.ent-create-proyect-1 .dscribe-tu-proyecto-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 396px;
  width: 275px;
}

.ent-create-proyect-1 .fechas-para-el-proyecto-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 245px;
  width: 275px;
}

.ent-create-proyect-1 .inicio-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 92px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 286px;
  width: 40px;
}

.ent-create-proyect-1 .final-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 258px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 286px;
  width: 40px;
}

.ent-create-proyect-1 .ttulo-vZnzTY {
  background-color: transparent;
  border: 0;
  height: 17px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 194px;
  width: 244px;
}

.ent-create-proyect-1 .ttulo-vZnzTY::placeholder {
  color: #4e4b6699;
}

.ent-create-proyect-1 .group-397-vZnzTY {
  background-color: transparent;
  height: 95px;
  left: 52px;
  position: absolute;
  top: 438px;
  width: 277px;
}

.ent-create-proyect-1 .rectangle-1312-FoEPg5 {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 95px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 275px;
}

.ent-create-proyect-1 .descripcin-FoEPg5 {
  background-color: transparent;
  border: 0;
  height: 17px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 10px;
  width: 244px;
}

.ent-create-proyect-1 .descripcin-FoEPg5::placeholder {
  color: #4e4b6699;
}

.ent-create-proyect-1 .da-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 310px;
  width: 28px;
}

.ent-create-proyect-1 .da-yNuqm6 {
  background-color: transparent;
  height: auto;
  left: 229px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 310px;
  width: 28px;
}

.ent-create-proyect-1 .mes-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 132px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 310px;
  width: 28px;
}

.ent-create-proyect-1 .mes-yNuqm6 {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 310px;
  width: 28px;
}

.ent-create-proyect-1 .x-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 15px;
}

.ent-create-proyect-1 .x-yNuqm6 {
  background-color: transparent;
  height: auto;
  left: 270px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 15px;
}

.ent-create-proyect-1 .rectangle-1308-vZnzTY {
  background-color: var(--white);
  border-radius: 8px;
  height: 40px;
  left: 57px;
  mix-blend-mode: normal;
  position: absolute;
  top: 333px;
  width: 40px;
}

.ent-create-proyect-1 .rectangle-1310-vZnzTY {
  background-color: var(--white);
  border-radius: 8px;
  height: 40px;
  left: 223px;
  mix-blend-mode: normal;
  position: absolute;
  top: 333px;
  width: 40px;
}

.ent-create-proyect-1 .rectangle-1309-vZnzTY {
  background-color: var(--white);
  border-radius: 8px;
  height: 40px;
  left: 126px;
  mix-blend-mode: normal;
  position: absolute;
  top: 333px;
  width: 40px;
}

.ent-create-proyect-1 .rectangle-1311-vZnzTY {
  background-color: var(--white);
  border-radius: 8px;
  height: 40px;
  left: 292px;
  mix-blend-mode: normal;
  position: absolute;
  top: 333px;
  width: 40px;
}

.ent-create-proyect-1 .x22-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 21px;
}

.ent-create-proyect-1 .x22-yNuqm6 {
  background-color: transparent;
  height: auto;
  left: 232px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 21px;
}

.ent-create-proyect-1 .x04-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 21px;
}

.ent-create-proyect-1 .x05-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 21px;
}

.ent-create-proyect-1 .rectangle-1379-vZnzTY {
  background-color: var(--mist-gray);
  border-radius: 1px;
  height: 18px;
  left: 310px;
  mix-blend-mode: normal;
  position: absolute;
  top: 510px;
  transform: rotate(-45.00deg);
  width: 2px;
}

.ent-create-proyect-1 .rectangle-1380-vZnzTY {
  background-color: var(--mist-gray);
  border-radius: 1px;
  height: 12px;
  left: 314px;
  mix-blend-mode: normal;
  position: absolute;
  top: 517px;
  transform: rotate(-45.00deg);
  width: 2px;
}

.ent-create-proyect-1 .group-317-vZnzTY {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 65px;
  position: absolute;
  top: 672px;
  width: 259px;
}

.ent-create-proyect-1 .rectangle-6-rTpoHE {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.ent-create-proyect-1 .enviar-rTpoHE {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 224px;
}

.ent-create-proyect-1 .line-7-vZnzTY {
  background-color: transparent;
  height: 86px;
  left: 195px;
  position: absolute;
  top: 287px;
  width: 1px;
}

.ent-create-proyect-1 .rectangle-1384-vZnzTY {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 37px;
  left: 57px;
  mix-blend-mode: normal;
  position: absolute;
  top: 590px;
  width: 275px;
}

.ent-create-proyect-1 .cunto-necesito-recaudar-vZnzTY {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 556px;
  width: 275px;
}

.ent-create-proyect-1 .x-s9RtyD {
  background-color: transparent;
  border: 0;
  height: 17px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 600px;
  width: 244px;
}

.ent-create-proyect-1 .x-s9RtyD::placeholder {
  color: #4e4b6699;
}

.ent-create-proyect-1 .nav-emprendimiento-vZnzTY {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ent-create-proyect-1 .rectangle-1463-lgteYM {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-create-proyect-1 .union-lgteYM {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-create-proyect-1 .union-xfTjdM {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-create-proyect-1 .union-7Tummq {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-create-proyect-1 .union-ahAEqz {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}
