/* screen - ent-pendient-contact-6 */

.ent-pendient-contact-6 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-pendient-contact-6 .group-2164-8OJnGL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 66px;
  position: absolute;
  top: 646px;
  width: 261px;
}

.ent-pendient-contact-6 .rectangle-6-yAOonc {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.ent-pendient-contact-6 .enviar-yAOonc {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 224px;
}

.ent-pendient-contact-6 .nav-emprendimiento-8OJnGL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 770px;
  width: 390px;
}

.ent-pendient-contact-6 .rectangle-1463-oOGcFm {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-pendient-contact-6 .union-oOGcFm {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-pendient-contact-6 .union-weSpUc {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-pendient-contact-6 .union-5NfSwX {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-pendient-contact-6 .union-LEqxCx {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ent-pendient-contact-6 .pagos-pendientes-8OJnGL {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: auto;
}

.ent-pendient-contact-6 .vector-8OJnGL {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 108px;
  width: 9px;
}

.ent-pendient-contact-6 .rectangle-8-8OJnGL {
  background-color: transparent;
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-pendient-contact-6 .status-bar-i-phone-13-13-pro-8OJnGL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 390px;
}

.ent-pendient-contact-6 .indicators-Tj9JRg {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-pendient-contact-6 .elements-signal-moElem {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-pendient-contact-6 .cellular-connection-lhKAdb {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-pendient-contact-6 .elements-connection-moElem {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-pendient-contact-6 .wifi-GJmF5P {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ent-pendient-contact-6 .elements-battery-moElem {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-pendient-contact-6 .border-p1dLzS {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-pendient-contact-6 .cap-p1dLzS {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-pendient-contact-6 .capacity-p1dLzS {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-pendient-contact-6 .mic-cam-Tj9JRg {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-pendient-contact-6 .elements-time-Tj9JRg {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-pendient-contact-6 .time-fhP5wb {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-pendient-contact-6 .resumen-de-tu-pago-8OJnGL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 161px;
  width: 331px;
}

.ent-pendient-contact-6 .ana-paredes-8OJnGL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 225px;
  white-space: nowrap;
  width: 182px;
}

.ent-pendient-contact-6 .x45000-8OJnGL {
  background-color: transparent;
  height: auto;
  left: 177px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 225px;
  white-space: nowrap;
  width: 182px;
}

.ent-pendient-contact-6 .vector-116-8OJnGL {
  background-color: transparent;
  height: 1px;
  left: 30px;
  position: absolute;
  top: 218px;
  width: 329px;
}

.ent-pendient-contact-6 .origen-del-dinero-8OJnGL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 329px;
  white-space: nowrap;
  width: 182px;
}

.ent-pendient-contact-6 .disponible-8OJnGL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 354px;
  white-space: nowrap;
  width: 182px;
}

.ent-pendient-contact-6 .total-8OJnGL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 267px;
  white-space: nowrap;
  width: 182px;
}

.ent-pendient-contact-6 .x45000-W51MSp {
  background-color: transparent;
  height: auto;
  left: 177px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 267px;
  white-space: nowrap;
  width: 182px;
}

.ent-pendient-contact-6 .vector-115-8OJnGL {
  background-color: transparent;
  height: 1px;
  left: 30px;
  position: absolute;
  top: 256px;
  width: 329px;
}

.ent-pendient-contact-6 .vector-117-8OJnGL {
  background-color: transparent;
  height: 1px;
  left: 30px;
  position: absolute;
  top: 316px;
  width: 329px;
}

.ent-pendient-contact-6 .vector-118-8OJnGL {
  background-color: transparent;
  height: 1px;
  left: 30px;
  position: absolute;
  top: 384px;
  width: 329px;
}
