/* screen - ent-home */

.ent-home {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ent-home .todo-jFGPBO::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ent-home .todo-jFGPBO {
  background-color: transparent;
  height: 659px;
  left: -0px;
  mix-blend-mode: normal;
  overflow-y: scroll;
  position: absolute;
  top: 110px;
  width: 390px;
}

.ent-home .proyectos-BDD7cC::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ent-home .proyectos-BDD7cC {
  background-color: transparent;
  height: 138px;
  left: 18px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 579px;
  width: 372px;
}

.ent-home .group-370-pI9LYu {
  background-color: transparent;
  height: 167px;
  left: 292px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.ent-home .image-26-BdNWZU {
  background-color: transparent;
  height: 167px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 290px;
}

.ent-home .rectangle-1379-BdNWZU {
  background-color: transparent;
  height: 155px;
  left: 101px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 80px;
}

.ent-home .nevera-nueva-para-postres-BdNWZU {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 95px;
  width: 257px;
}

.ent-home .x80-completado-BdNWZU {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 114px;
  width: 257px;
}

.ent-home .group-372-BdNWZU {
  background-color: transparent;
  height: 4px;
  left: 14px;
  position: absolute;
  top: 131px;
  width: 257px;
}

.ent-home .rectangle-1380-UmY0uh {
  background-color: var(--white);
  border-radius: 4px;
  height: 4px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 253px;
}

.ent-home .rectangle-1381-UmY0uh {
  background-color: var(--rosa-claro);
  border-radius: 4px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}

.ent-home .azucarysalcali-BdNWZU {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 140px;
  white-space: nowrap;
  width: 257px;
}

.ent-home .group-369-pI9LYu {
  background-color: transparent;
  height: 167px;
  left: -0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.ent-home .image-27-JggPFu {
  background-color: transparent;
  height: 155px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 284px;
}

.ent-home .rectangle-1383-JggPFu {
  background-color: transparent;
  height: 155px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 284px;
}

.ent-home .arriendo-este-mes-JggPFu {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 95px;
  width: 257px;
}

.ent-home .x20-completado-JggPFu {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 114px;
  width: 257px;
}

.ent-home .group-371-JggPFu {
  background-color: transparent;
  height: 4px;
  left: 14px;
  position: absolute;
  top: 131px;
  width: 257px;
}

.ent-home .rectangle-1384-8MmMxY {
  background-color: var(--white);
  border-radius: 4px;
  height: 4px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 253px;
}

.ent-home .rectangle-1385-8MmMxY {
  background-color: var(--rosa-claro);
  border-radius: 4px;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 35px;
}

.ent-home .cohii-JggPFu {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 140px;
  white-space: nowrap;
  width: 257px;
}

.ent-home .group-312-BDD7cC {
  background-color: transparent;
  height: 19px;
  left: 18px;
  position: absolute;
  top: 551px;
  width: 231px;
}

.ent-home .proyectos-similiares-al-tuyo-6bkQa5 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 229px;
}

.ent-home .aade-tus-dailys-y-mira-a-otros-besties-BDD7cC {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 344px;
}

.ent-home .actividad-hoy-BDD7cC {
  background-color: transparent;
  height: 160px;
  left: 18px;
  position: absolute;
  top: 239px;
  width: 364px;
}

.ent-home .tu-actividad-hoy-mutd6K {
  background-color: transparent;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 192px;
}

.ent-home .rectangle-1362-mutd6K {
  background-color: #f5f5f5;
  border-radius: 7px;
  height: 131px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 354px;
}

.ent-home .ventas-totales-hoy-mutd6K {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  width: 142px;
}

.ent-home .pedidos-pendientes-5-mutd6K {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 82px;
  width: 157px;
}

.ent-home .span0-k7h0D8 {
  font-style: normal;
}

.ent-home .span1-k7h0D8 {
  font-style: normal;
}

.ent-home .chats-por-responder-8-mutd6K {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 182px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 83px;
  width: 157px;
}

.ent-home .span0-swXppc {
  font-style: normal;
}

.ent-home .span1-swXppc {
  font-style: normal;
}

.ent-home .x76000-mutd6K {
  background-color: transparent;
  height: auto;
  left: 196px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 42px;
  width: 142px;
}

.ent-home .vector-123-mutd6K {
  background-color: transparent;
  height: 2px;
  left: 11px;
  position: absolute;
  top: 64px;
  width: 327px;
}

.ent-home .group-301-mutd6K {
  background-color: transparent;
  height: 38px;
  left: 11px;
  position: absolute;
  top: 107px;
  width: 147px;
}

.ent-home .rectangle-1363-us6qAm {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.ent-home .ir-a-pedidos-us6qAm {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 80px;
}

.ent-home .gotochat-button-mutd6K {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 182px;
  position: absolute;
  top: 107px;
  width: 147px;
}

.ent-home .rectangle-1363-mDTjxi {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.ent-home .ir-a-chat-mDTjxi {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 80px;
}

.ent-home .mtricas-BDD7cC {
  background-color: transparent;
  height: 105px;
  left: 18px;
  position: absolute;
  top: 422px;
  width: 356px;
}

.ent-home .mtricas-bd8Ccq {
  background-color: transparent;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 192px;
}

.ent-home .group-2064-bd8Ccq {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 114px;
}

.ent-home .rectangle-1370-PZot2Z {
  background-color: var(--pattens-blue);
  border-radius: 7px;
  height: 77px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 110px;
}

.ent-home .x35-PZot2Z {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 42px;
}

.ent-home .seguidores-nuevos-PZot2Z {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 78px;
}

.ent-home .group-2063-bd8Ccq {
  background-color: transparent;
  height: 77px;
  left: 122px;
  position: absolute;
  top: 28px;
  width: 114px;
}

.ent-home .rectangle-1374-cNTAbo {
  background-color: var(--pattens-blue);
  border-radius: 7px;
  height: 77px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 110px;
}

.ent-home .x15-cNTAbo {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 42px;
}

.ent-home .ventas-finalizadas-cNTAbo {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 78px;
}

.ent-home .group-2062-bd8Ccq {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 244px;
  position: absolute;
  top: 28px;
  width: 114px;
}

.ent-home .rectangle-1375-xSbUao {
  background-color: var(--pattens-blue);
  border-radius: 7px;
  height: 77px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 110px;
}

.ent-home .iconic-xSbUao {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 70px;
}

.ent-home .tu-rango-actual-xSbUao {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 78px;
}

.ent-home .leccin-de-hoy-BDD7cC {
  background-color: transparent;
  height: 112px;
  left: 18px;
  position: absolute;
  top: 112px;
  width: 360px;
}

.ent-home .tu-leccin-de-hoy-T1HLSr {
  background-color: transparent;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 192px;
}

.ent-home .rectangle-1373-T1HLSr {
  background-color: var(--cielo-claro);
  border-radius: 7px;
  height: 83px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 354px;
}

.ent-home .mask-group-T1HLSr {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 354px;
}

.ent-home .cmo-subir-un-daily-T1HLSr {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 41px;
  width: 190px;
}

.ent-home .presiona-el-botn-que-T1HLSr {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 257px;
}

.ent-home .group-300-T1HLSr {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 33px;
  width: 184px;
}

.ent-home .rectangle-18-j4MorE {
  background-color: var(--azul);
  border-radius: 21.05px;
  height: 9px;
  left: 175px;
  mix-blend-mode: normal;
  position: absolute;
  top: 30px;
  width: 9px;
}

.ent-home .bestie-2-j4MorE {
  background-color: transparent;
  height: 79px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 76px;
}

.ent-home .group-299-j4MorE {
  background-color: transparent;
  height: 5px;
  left: 176px;
  position: absolute;
  top: 31px;
  width: 5px;
}

.ent-home .horizontal-history-BDD7cC::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ent-home .horizontal-history-BDD7cC {
  background-color: transparent;
  height: 74px;
  left: 18px;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 23px;
  width: 354px;
}

.ent-home .agregar-historial-fdk11I {
  background-color: transparent;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 62px;
}

.ent-home .blinklogo-x4lVGS {
  background-color: transparent;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 62px;
}

.ent-home .ellipse-10-b6c8HX {
  background-color: var(--mist-gray);
  border-radius: 31px;
  height: 62px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 62px;
}

.ent-home .rectangle-16-b6c8HX {
  background-color: transparent;
  height: 56px;
  left: 3px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 56px;
}

.ent-home .group-300-x4lVGS {
  background-color: transparent;
  height: 19px;
  left: 42px;
  position: absolute;
  top: 43px;
  width: 19px;
}

.ent-home .rectangle-18-f1XfNC {
  background-color: var(--azul);
  border-radius: 40px;
  height: 19px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.ent-home .group-299-f1XfNC {
  background-color: transparent;
  height: 11px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 11px;
}

.ent-home .leepopslogo-fdk11I {
  background-color: transparent;
  height: 62px;
  left: 67px;
  position: absolute;
  top: 4px;
  width: 62px;
}

.ent-home .ellipse-11-jbcyGT {
  background-color: var(--mist-gray);
  border-radius: 31px;
  height: 62px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 62px;
}

.ent-home .mask-group-jbcyGT {
  background-color: transparent;
  height: 56px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 56px;
}

.ent-home .takislogo-fdk11I {
  background-color: transparent;
  height: 62px;
  left: 134px;
  position: absolute;
  top: 4px;
  width: 62px;
}

.ent-home .ellipse-12-pR55AZ {
  background-color: var(--mist-gray);
  border-radius: 31px;
  height: 62px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 62px;
}

.ent-home .rectangle-73-pR55AZ {
  background-color: transparent;
  height: 56px;
  left: 3px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 56px;
}

.ent-home .sweetlogo-fdk11I {
  background-color: transparent;
  height: 62px;
  left: 202px;
  position: absolute;
  top: 4px;
  width: 61px;
}

.ent-home .ellipse-13-tl2bYW {
  background-color: var(--white);
  border-radius: 30.5px/31px;
  height: 62px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 61px;
}

.ent-home .mask-group-tl2bYW {
  background-color: transparent;
  height: 49px;
  left: 5px;
  position: absolute;
  top: 7px;
  width: 49px;
}

.ent-home .birdslogo-fdk11I {
  background-color: transparent;
  height: 62px;
  left: 269px;
  position: absolute;
  top: 4px;
  width: 62px;
}

.ent-home .ellipse-14-8292cg {
  background-color: var(--mist-gray);
  border-radius: 31px;
  height: 62px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 62px;
}

.ent-home .rectangle-75-8292cg {
  background-color: transparent;
  height: 56px;
  left: 3px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 56px;
}

.ent-home .colibrilogo-fdk11I {
  background-color: transparent;
  height: 62px;
  left: 336px;
  position: absolute;
  top: 4px;
  width: 62px;
}

.ent-home .ellipse-15-yO6wb3 {
  background-color: var(--mist-gray);
  border-radius: 31px;
  height: 62px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 62px;
}

.ent-home .rectangle-76-yO6wb3 {
  background-color: transparent;
  height: 56px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 15px;
}

.ent-home .rectangle-1453-jFGPBO {
  background-color: var(--white);
  height: 84px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-home .bestie-jFGPBO {
  background-color: transparent;
  height: 18px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 51px;
  width: 50px;
}

.ent-home .status-bar-i-phone-13-13-pro-jFGPBO {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-home .indicators-QCaYm9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ent-home .elements-signal-XazpeT {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ent-home .cellular-connection-uxDb0W {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ent-home .elements-connection-XazpeT {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ent-home .wifi-9PvrxD {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 17px;
}

.ent-home .elements-battery-XazpeT {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ent-home .border-rRJgSq {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ent-home .cap-rRJgSq {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ent-home .capacity-rRJgSq {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ent-home .mic-cam-QCaYm9 {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ent-home .elements-time-QCaYm9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ent-home .time-ISmoHq {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ent-home .nav-emprendimiento-jFGPBO {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ent-home .rectangle-1463-KHAKFX {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ent-home .union-KHAKFX {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ent-home .union-Ers5vo {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ent-home .union-onVxnx {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ent-home .union-Tbp9qE {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ent-home .holi-blink-jFGPBO {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 70px;
  width: 68px;
}

.ent-home .chat-2-jFGPBO {
  background-color: transparent;
  height: 27px;
  left: 329px;
  mix-blend-mode: normal;
  position: absolute;
  top: 51px;
  width: 27px;
}

.ent-home .chat-2-vgJczj {
  background-color: transparent;
  height: 27px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 27px;
}
