/* screen - index-register */

.index-register {
  background-color: var(--cielo);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.index-register .frame-119-01EgRE {
  background-color: transparent;
  height: 499px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 75px;
  width: 203px;
}

.index-register .afro-bestie-JQyPjv {
  background-color: transparent;
  height: 499px;
  left: -24px;
  position: relative;
  top: 0px;
  width: 227px;
}

.index-register .union-8RW3l3 {
  background-color: transparent;
  height: 50px;
  left: 110px;
  mix-blend-mode: normal;
  position: absolute;
  top: 437px;
  width: 68px;
}

.index-register .union-5mem0F {
  background-color: transparent;
  height: 68px;
  left: 21px;
  mix-blend-mode: normal;
  position: absolute;
  top: 398px;
  width: 42px;
}

.index-register .vector-59-8RW3l3 {
  background-color: transparent;
  height: 168px;
  left: 32px;
  position: absolute;
  top: 250px;
  width: 67px;
}

.index-register .vector-67-8RW3l3 {
  background-color: transparent;
  height: 175px;
  left: 28px;
  position: absolute;
  top: 245px;
  width: 74px;
}

.index-register .vector-58-8RW3l3 {
  background-color: transparent;
  height: 172px;
  left: 112px;
  position: absolute;
  top: 267px;
  width: 38px;
}

.index-register .vector-34-8RW3l3 {
  background-color: transparent;
  height: 132px;
  left: 107px;
  position: absolute;
  top: 50px;
  width: 115px;
}

.index-register .intersect-8RW3l3 {
  background-color: transparent;
  height: 31px;
  left: 179px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 50px;
  width: 35px;
}

.index-register .intersect-5mem0F {
  background-color: transparent;
  height: 30px;
  left: 187px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 70px;
  width: 36px;
}

.index-register .intersect-FVoVPr {
  background-color: transparent;
  height: 17px;
  left: 188px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 99px;
  width: 36px;
}

.index-register .intersect-fLXDqG {
  background-color: transparent;
  height: 31px;
  left: 184px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 110px;
  width: 35px;
}

.index-register .intersect-BBzAxf {
  background-color: transparent;
  height: 37px;
  left: 170px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 125px;
  width: 31px;
}

.index-register .intersect-97g1wP {
  background-color: transparent;
  height: 39px;
  left: 152px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 136px;
  width: 28px;
}

.index-register .ellipse-122-8RW3l3 {
  background-color: transparent;
  height: 157px;
  left: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 133px;
  width: 118px;
}

.index-register .intersect-hSpk8q {
  background-color: transparent;
  height: 48px;
  left: 50px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 243px;
  width: 113px;
}

.index-register .intersect-XviPVy {
  background-color: transparent;
  height: 33px;
  left: 49px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 172px;
  width: 116px;
}

.index-register .intersect-YNXWKf {
  background-color: transparent;
  height: 31px;
  left: 48px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 212px;
  width: 118px;
}

.index-register .intersect-R7y1Ev {
  background-color: transparent;
  height: 27px;
  left: 64px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 138px;
  width: 85px;
}

.index-register .vector-45-8RW3l3 {
  background-color: transparent;
  height: 15px;
  left: 53px;
  mix-blend-mode: normal;
  position: absolute;
  top: 240px;
  width: 112px;
}

.index-register .vector-44-8RW3l3 {
  background-color: transparent;
  height: 24px;
  left: 51px;
  mix-blend-mode: normal;
  position: absolute;
  top: 240px;
  width: 116px;
}

.index-register .intersect-XOkvaj {
  background-color: transparent;
  height: 147px;
  left: 20px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 154px;
  width: 62px;
}

.index-register .intersect-X4afkN {
  background-color: transparent;
  height: 151px;
  left: 21px;
  mix-blend-mode: normal;
  position: absolute;
  top: 150px;
  width: 58px;
}

.index-register .intersect-OtuwE6 {
  background-color: transparent;
  height: 28px;
  left: 33px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 255px;
  width: 43px;
}

.index-register .intersect-7f0cpB {
  background-color: transparent;
  height: 23px;
  left: 22px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 237px;
  width: 38px;
}

.index-register .intersect-VjT51V {
  background-color: transparent;
  height: 22px;
  left: 21px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 213px;
  width: 31px;
}

.index-register .intersect-JbjIZx {
  background-color: transparent;
  height: 28px;
  left: 22px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 185px;
  width: 34px;
}

.index-register .intersect-xLOSkk {
  background-color: transparent;
  height: 32px;
  left: 34px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 162px;
  width: 35px;
}

.index-register .intersect-kHa1X4 {
  background-color: transparent;
  height: 34px;
  left: 55px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 150px;
  width: 25px;
}

.index-register .vector-35-8RW3l3 {
  background-color: transparent;
  height: 35px;
  left: 173px;
  position: absolute;
  top: 40px;
  width: 37px;
}

.index-register .vector-55-8RW3l3 {
  background-color: transparent;
  height: 32px;
  left: 48px;
  position: absolute;
  top: 270px;
  width: 36px;
}

.index-register .ellipse-145-8RW3l3 {
  background-color: var(--white-3);
  border-radius: 16px/21.08px;
  filter: blur(21.840435028076172px);;
  height: 42px;
  left: 83px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 141px;
  transform: rotate(-18.57deg);
  width: 32px;
}

.index-register .intersect-stibpk {
  background-color: transparent;
  height: 73px;
  left: 117px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 102px;
  width: 90px;
}

.index-register .group-1966-8RW3l3 {
  background-color: transparent;
  height: 87px;
  left: 69px;
  position: absolute;
  top: 41px;
  width: 80px;
}

.index-register .group-1965-8RW3l3 {
  background-color: transparent;
  height: 75px;
  left: 118px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.index-register .vector-46-NihW4o {
  background-color: transparent;
  height: 39px;
  left: -4px;
  position: absolute;
  top: 11px;
  width: 54px;
}

.index-register .vector-47-NihW4o {
  background-color: transparent;
  height: 52px;
  left: 5px;
  position: absolute;
  top: -7px;
  width: 50px;
}

.index-register .rectangle-157-NihW4o {
  background-color: transparent;
  height: 56px;
  left: 33px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 53px;
}

.index-register .union-NihW4o {
  background-color: transparent;
  height: 62px;
  left: 37px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 7px;
  width: 36px;
}

.index-register .union-YVjqIC {
  background-color: transparent;
  height: 52px;
  left: 34px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 14px;
  width: 35px;
}

.index-register .vector-48-NihW4o {
  background-color: transparent;
  height: 34px;
  left: 38px;
  position: absolute;
  top: 12px;
  width: 19px;
}

.index-register .vector-49-NihW4o {
  background-color: transparent;
  height: 29px;
  left: 50px;
  position: absolute;
  top: 9px;
  width: 18px;
}

.index-register .vector-50-NihW4o {
  background-color: transparent;
  height: 36px;
  left: 42px;
  position: absolute;
  top: 27px;
  width: 21px;
}

.index-register .ellipse-151-8RW3l3 {
  background-color: var(--white-3);
  border-radius: 13.43px/21.08px;
  filter: blur(21.840435028076172px);;
  height: 42px;
  left: 194px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 58px;
  transform: rotate(-18.57deg);
  width: 27px;
}

.index-register .vector-60-8RW3l3 {
  background-color: transparent;
  height: 41px;
  left: 30px;
  mix-blend-mode: normal;
  position: absolute;
  top: 380px;
  width: 48px;
}

.index-register .vector-61-8RW3l3 {
  background-color: transparent;
  height: 16px;
  left: 110px;
  mix-blend-mode: normal;
  position: absolute;
  top: 427px;
  width: 42px;
}

.index-register .ellipse-156-8RW3l3 {
  background-color: transparent;
  height: 14px;
  left: 145px;
  position: absolute;
  top: 10px;
  width: 15px;
}

.index-register .ellipse-157-8RW3l3 {
  background-color: transparent;
  height: 8px;
  left: 170px;
  position: absolute;
  top: 17px;
  width: 16px;
}

.index-register .vector-63-8RW3l3 {
  background-color: transparent;
  height: 72px;
  left: 16px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 391px;
  width: 24px;
}

.index-register .vector-64-8RW3l3 {
  background-color: transparent;
  height: 52px;
  left: 103px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 440px;
  width: 57px;
}

.index-register .vector-65-8RW3l3 {
  background-color: transparent;
  height: 50px;
  left: 32px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 405px;
  width: 38px;
}

.index-register .vector-66-8RW3l3 {
  background-color: transparent;
  height: 38px;
  left: 124px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 435px;
  width: 54px;
}

.index-register .group-1970-8RW3l3 {
  background-color: transparent;
  height: 68px;
  left: 50px;
  position: absolute;
  top: 268px;
  transform: rotate(-3.00deg);
  width: 77px;
}

.index-register .group-1969-WKv7GF {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  transform: rotate(-6.00deg);
  width: 77px;
}

.index-register .group-1967-Nzuali {
  background-color: transparent;
  height: 75px;
  left: -3px;
  position: absolute;
  top: -0px;
  transform: rotate(-3.00deg);
  width: 82px;
}

.index-register .vector-68-Nzuali {
  background-color: transparent;
  height: 31px;
  left: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  transform: rotate(-3.00deg);
  width: 28px;
}

.index-register .vector-44-WKv7GF {
  background-color: transparent;
  height: 10px;
  left: 47px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  transform: rotate(-3.00deg);
  width: 14px;
}

.index-register .vector-68-WKv7GF {
  background-color: transparent;
  height: 10px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  transform: rotate(-3.00deg);
  width: 14px;
}

.index-register .vector-69-WKv7GF {
  background-color: transparent;
  height: 10px;
  left: 33px;
  mix-blend-mode: normal;
  position: absolute;
  top: 40px;
  transform: rotate(-3.00deg);
  width: 14px;
}

.index-register .vector-70-WKv7GF {
  background-color: transparent;
  height: 10px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 47px;
  transform: rotate(-3.00deg);
  width: 14px;
}

.index-register .bestie-01EgRE {
  background-color: transparent;
  height: 74px;
  left: 84px;
  mix-blend-mode: normal;
  position: absolute;
  top: 231px;
  width: 221px;
}

.index-register .bienvenido-escoge-al-01EgRE {
  background-color: transparent;
  height: auto;
  left: 89px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 324px;
  width: 211px;
}

.index-register .fondo-01EgRE {
  background-color: transparent;
  height: 844px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.index-register .rectangle-1316-01EgRE {
  background-color: var(--white);
  border-radius: 10px;
  height: 252px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 296px;
  width: 336px;
}

.index-register .entrepreneur-register-button-01EgRE {
  background-color: transparent;
  cursor: pointer;
  height: 44px;
  left: 55px;
  position: absolute;
  top: 391px;
  width: 281px;
}

.index-register .rectangle-1320-KXt53x {
  background-color: var(--cielo);
  border-radius: 10px;
  height: 42px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 269px;
}

.index-register .emprendedor-KXt53x {
  background-color: transparent;
  height: 44px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 279px;
}

.index-register .client-register-button-01EgRE {
  background-color: transparent;
  cursor: pointer;
  height: 44px;
  left: 55px;
  position: absolute;
  top: 454px;
  width: 281px;
}

.index-register .rectangle-1321-jvGnYd {
  background-color: var(--cielo);
  border-radius: 10px;
  height: 42px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3px;
  width: 269px;
}

.index-register .cliente-jvGnYd {
  background-color: transparent;
  height: 44px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 279px;
}

.index-register .group-370-01EgRE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 27px;
  position: absolute;
  top: 109px;
  width: 85px;
}

.index-register .group-371-1kAXax {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 87px;
}

.index-register .regresar-iAcPRe {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.index-register .vector-iAcPRe {
  background-color: transparent;
  height: 16px;
  left: -2px;
  position: absolute;
  top: -1px;
  width: 9px;
}

.index-register .vas-a-registrarte-co-01EgRE {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 329px;
  width: 237px;
}

.index-register .span0-V9QUCe {
}

.index-register .span1-V9QUCe {
}

.index-register .span2-V9QUCe {
}
