/* screen - register-entrepreneur-5 */

.register-entrepreneur-5 {
  background-color: var(--azul);
  cursor: pointer;
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.register-entrepreneur-5 .rectangle-1438-M3gjUT {
  background-color: transparent;
  height: 540px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 120px;
  width: 390px;
}
