/* screen - register-entrepreneur-4 */

.register-entrepreneur-4 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.register-entrepreneur-4 .vector-1-HqxQTh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 24px;
  position: absolute;
  top: 48px;
  width: 10px;
}

.register-entrepreneur-4 .rectangle-34-HqxQTh {
  background-color: transparent;
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  position: absolute;
  top: 50px;
  width: 298px;
}

.register-entrepreneur-4 .rectangle-35-HqxQTh {
  background-color: var(--cielo);
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  mix-blend-mode: normal;
  position: absolute;
  top: 50px;
  width: 290px;
}

.register-entrepreneur-4 .ya-casi-terminamos-HqxQTh {
  background-color: transparent;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: auto;
}

.register-entrepreneur-4 .group-232-HqxQTh {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 66px;
  position: absolute;
  top: 610px;
  width: 259px;
}

.register-entrepreneur-4 .rectangle-6-cflBDr {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.register-entrepreneur-4 .enviar-cflBDr {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 224px;
}

.register-entrepreneur-4 .falta-poco-queremos-HqxQTh {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 131px;
  width: 328px;
}

.register-entrepreneur-4 .etiquetas-HqxQTh {
  background-color: transparent;
  height: 38px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 281px;
  width: 119px;
}

.register-entrepreneur-4 .rectangle-36-x0eoGj {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 119px;
}

.register-entrepreneur-4 .ecolgico-x0eoGj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 119px;
}

.register-entrepreneur-4 .etiquetas-aOIxli {
  background-color: transparent;
  height: 38px;
  left: 153px;
  mix-blend-mode: normal;
  position: absolute;
  top: 281px;
  width: 94px;
}

.register-entrepreneur-4 .rectangle-37-EKcHOi {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 94px;
}

.register-entrepreneur-4 .ropa-EKcHOi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 94px;
}

.register-entrepreneur-4 .etiquetas-yv1O7t {
  background-color: transparent;
  height: 38px;
  left: 254px;
  mix-blend-mode: normal;
  position: absolute;
  top: 281px;
  width: 105px;
}

.register-entrepreneur-4 .rectangle-39-BVZVlx {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 105px;
}

.register-entrepreneur-4 .bebidas-BVZVlx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 105px;
}

.register-entrepreneur-4 .etiquetas-N4jVyV {
  background-color: transparent;
  height: 38px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 335px;
  width: 96px;
}

.register-entrepreneur-4 .rectangle-39-XJYOxH {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 96px;
}

.register-entrepreneur-4 .comida-XJYOxH {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 96px;
}

.register-entrepreneur-4 .rectangle-30-HqxQTh {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 44px;
  left: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 214px;
  width: 336px;
}

.register-entrepreneur-4 .escribe-etiquetas-HqxQTh {
  background-color: transparent;
  color: #00000099;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 227px;
  width: 323px;
}

.register-entrepreneur-4 .etiquetas-xiVibW {
  background-color: transparent;
  height: 38px;
  left: 144px;
  mix-blend-mode: normal;
  position: absolute;
  top: 335px;
  width: 97px;
}

.register-entrepreneur-4 .rectangle-39-kclBEQ {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.register-entrepreneur-4 .msica-kclBEQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}

.register-entrepreneur-4 .etiquetas-sd7UKy {
  background-color: transparent;
  height: 38px;
  left: 262px;
  mix-blend-mode: normal;
  position: absolute;
  top: 335px;
  width: 97px;
}

.register-entrepreneur-4 .rectangle-39-VUhE8n {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.register-entrepreneur-4 .joyera-VUhE8n {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}

.register-entrepreneur-4 .etiquetas-O1ViV0 {
  background-color: transparent;
  height: 38px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 391px;
  width: 97px;
}

.register-entrepreneur-4 .rectangle-39-xJDdDQ {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.register-entrepreneur-4 .bolsos-xJDdDQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}

.register-entrepreneur-4 .etiquetas-1xRTVc {
  background-color: transparent;
  height: 38px;
  left: 262px;
  mix-blend-mode: normal;
  position: absolute;
  top: 390px;
  width: 97px;
}

.register-entrepreneur-4 .rectangle-39-abFZov {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.register-entrepreneur-4 .detalles-abFZov {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}

.register-entrepreneur-4 .etiquetas-ikcp83 {
  background-color: transparent;
  height: 38px;
  left: 145px;
  mix-blend-mode: normal;
  position: absolute;
  top: 390px;
  width: 97px;
}

.register-entrepreneur-4 .rectangle-39-CefZ3B {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.register-entrepreneur-4 .zapatos-CefZ3B {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}
