/* screen - register-entrepreneur-1 */

.register-entrepreneur-1 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.register-entrepreneur-1 .datos-registro-emprendedor-JS8EzY {
  background-color: transparent;
  height: 23px;
  left: 58px;
  position: absolute;
  top: 188px;
  width: 275px;
}

.register-entrepreneur-1 .line-26-rehBiR {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 23px;
  width: 275px;
}

.register-entrepreneur-1 .nombre-del-negocio-rehBiR {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 249px;
}

.register-entrepreneur-1 .datos-registro-emprendedor-cqs4Vs {
  background-color: transparent;
  height: 23px;
  left: 58px;
  position: absolute;
  top: 243px;
  width: 276px;
}

.register-entrepreneur-1 .line-15-QMEukM {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 22px;
  width: 275px;
}

.register-entrepreneur-1 .correo-QMEukM {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 249px;
}

.register-entrepreneur-1 .datos-registro-emprendedor-SStdHT {
  background-color: transparent;
  height: 23px;
  left: 58px;
  position: absolute;
  top: 298px;
  width: 275px;
}

.register-entrepreneur-1 .line-26-q6lwMN {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 23px;
  width: 275px;
}

.register-entrepreneur-1 .celular-q6lwMN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 249px;
}

.register-entrepreneur-1 .datos-registro-emprendedor-Oa7Ypf {
  background-color: transparent;
  height: 23px;
  left: 57px;
  position: absolute;
  top: 507px;
  width: 276px;
}

.register-entrepreneur-1 .line-15-3PLc3E {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 22px;
  width: 275px;
}

.register-entrepreneur-1 .nit-o-cdula-del-encargado-3PLc3E {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 254px;
}

.register-entrepreneur-1 .line-17-JS8EzY {
  background-color: transparent;
  height: 1px;
  left: 59px;
  position: absolute;
  top: 374px;
  width: 275px;
}

.register-entrepreneur-1 .line-18-JS8EzY {
  background-color: transparent;
  height: 1px;
  left: 59px;
  position: absolute;
  top: 429px;
  width: 275px;
}

.register-entrepreneur-1 .departamento-JS8EzY {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 352px;
  width: 249px;
}

.register-entrepreneur-1 .line-19-JS8EzY {
  background-color: transparent;
  height: 1px;
  left: 58px;
  position: absolute;
  top: 484px;
  width: 275px;
}

.register-entrepreneur-1 .ciudad-JS8EzY {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 406px;
  width: 249px;
}

.register-entrepreneur-1 .tipo-de-persona-JS8EzY {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 457px;
  width: 249px;
}

.register-entrepreneur-1 .vector-1-JS8EzY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 24px;
  position: absolute;
  top: 48px;
  width: 10px;
}

.register-entrepreneur-1 .rectangle-34-JS8EzY {
  background-color: transparent;
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  position: absolute;
  top: 50px;
  width: 298px;
}

.register-entrepreneur-1 .rectangle-35-JS8EzY {
  background-color: var(--cielo);
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  mix-blend-mode: normal;
  position: absolute;
  top: 50px;
  width: 74px;
}

.register-entrepreneur-1 .registrate-JS8EzY {
  background-color: transparent;
  height: auto;
  left: 155px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 86px;
  width: auto;
}

.register-entrepreneur-1 .group-232-JS8EzY {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 66px;
  position: absolute;
  top: 712px;
  width: 259px;
}

.register-entrepreneur-1 .rectangle-6-E58BTp {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.register-entrepreneur-1 .enviar-E58BTp {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 224px;
}

.register-entrepreneur-1 .vector-JS8EzY {
  background-color: transparent;
  height: 12px;
  left: 306px;
  position: absolute;
  top: 357px;
  width: 20px;
}

.register-entrepreneur-1 .vector-cqs4Vs {
  background-color: transparent;
  height: 12px;
  left: 306px;
  position: absolute;
  top: 414px;
  width: 20px;
}

.register-entrepreneur-1 .vector-SStdHT {
  background-color: transparent;
  height: 12px;
  left: 306px;
  position: absolute;
  top: 465px;
  width: 20px;
}

.register-entrepreneur-1 .acepto-trminos-y-condiciones-de-uso-JS8EzY {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 564px;
  width: 287px;
}

.register-entrepreneur-1 .span0-Mmc19g {
}

.register-entrepreneur-1 .span1-Mmc19g {
  text-decoration: underline;
}

.register-entrepreneur-1 .span2-Mmc19g {
}

.register-entrepreneur-1 .rectangle-48-JS8EzY {
  background-color: transparent;
  border-radius: 1px;
  height: 18px;
  left: 66px;
  position: absolute;
  top: 565px;
  width: 18px;
}
