/* screen - register-entrepreneur-3 */

.register-entrepreneur-3 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.register-entrepreneur-3 .set-empresarial-rJfQk4 {
  background-color: transparent;
  height: 19px;
  left: 52px;
  position: absolute;
  top: 223px;
  width: 295px;
}

.register-entrepreneur-3 .line-15-C53pue {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 19px;
  width: 295px;
}

.register-entrepreneur-3 .nombre-de-tu-emprendimiento-C53pue {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 295px;
}

.register-entrepreneur-3 .set-empresarial-c9xaBc {
  background-color: transparent;
  height: 19px;
  left: 52px;
  position: absolute;
  top: 277px;
  width: 295px;
}

.register-entrepreneur-3 .line-16-yc3SlJ {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 18px;
  width: 295px;
}

.register-entrepreneur-3 .contrasea-yc3SlJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 267px;
}

.register-entrepreneur-3 .set-empresarial-GHaaeW {
  background-color: transparent;
  height: 19px;
  left: 52px;
  position: absolute;
  top: 330px;
  width: 295px;
}

.register-entrepreneur-3 .line-13-SonjXa {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 18px;
  width: 295px;
}

.register-entrepreneur-3 .verificar-contrasea-SonjXa {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 267px;
}

.register-entrepreneur-3 .set-empresarial-tRiOi0 {
  background-color: transparent;
  height: 19px;
  left: 52px;
  position: absolute;
  top: 384px;
  width: 295px;
}

.register-entrepreneur-3 .line-14-8pmLDk {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 19px;
  width: 295px;
}

.register-entrepreneur-3 .sector-del-negocio-8pmLDk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 295px;
}

.register-entrepreneur-3 .vector-8pmLDk {
  background-color: transparent;
  height: 11px;
  left: 271px;
  position: absolute;
  top: 0px;
  width: 25px;
}

.register-entrepreneur-3 .vector-1-rJfQk4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 24px;
  position: absolute;
  top: 48px;
  width: 10px;
}

.register-entrepreneur-3 .rectangle-34-rJfQk4 {
  background-color: transparent;
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  position: absolute;
  top: 50px;
  width: 298px;
}

.register-entrepreneur-3 .rectangle-35-rJfQk4 {
  background-color: var(--cielo);
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  mix-blend-mode: normal;
  position: absolute;
  top: 50px;
  width: 164px;
}

.register-entrepreneur-3 .cmo-se-llama-tu-emprendimiento-rJfQk4 {
  background-color: transparent;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 84px;
  width: auto;
}

.register-entrepreneur-3 .group-232-rJfQk4 {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 66px;
  position: absolute;
  top: 614px;
  width: 259px;
}

.register-entrepreneur-3 .rectangle-6-0cfdtb {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.register-entrepreneur-3 .enviar-0cfdtb {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 224px;
}

.register-entrepreneur-3 .este-es-el-nombre-de-rJfQk4 {
  background-color: transparent;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 121px;
  width: 296px;
}

.register-entrepreneur-3 .rectangle-1312-rJfQk4 {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 95px;
  left: 53px;
  mix-blend-mode: normal;
  position: absolute;
  top: 448px;
  width: 295px;
}

.register-entrepreneur-3 .descripcin-rJfQk4 {
  background-color: transparent;
  border: 0;
  height: 19px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 453px;
  width: 263px;
}

.register-entrepreneur-3 .descripcin-rJfQk4::placeholder {
  color: #4e4b6699;
}
